[2017-06-14 20:56] lumir-mrkva opened #1 "cannot remove user from Dockerhub"

[2017-06-14 20:57] lumir-mrkva opened #2 "missing favicon"

[2017-06-14 21:11] lumir-mrkva opened #3 "dynamic title"
every page now has "Swarmpit" title, this has to be changed according to route eg. `Service "livin" - Swarmpit`

[2017-06-14 21:11] lumir-mrkva opened #4 "better history (back) support"

[2017-06-14 22:27] lumir-mrkva opened #5 "Add install page"
when db is connected but not initialised offer install (admin user creation form)

[2017-06-15 00:59] lumir-mrkva opened #6 "better errors from docker client"

[2017-06-15 01:36] lumir-mrkva opened #7 "login support for enter key"

[2017-06-15 02:46] lumir-mrkva opened #8 "cannot update service - networks throw always error"

[2017-06-15 07:26] nohaapav opened #9 "Mount -> support both bind and volumes"

[2017-06-15 08:39] nohaapav opened #10 "verification if new docker user exist before creating record"

[2017-06-15 08:45] nohaapav opened #11 "0 not shown in number field if min set to 0"

[2017-06-15 09:10] nohaapav commented on #8
not network issue .. Should be fixed. Closing

[2017-06-15 09:10] #8 closed

[2017-06-15 09:29] nohaapav opened #12 "restrict admin section"

[2017-06-15 09:29] nohaapav opened #13 "customize user avatars"

[2017-06-15 09:30] nohaapav opened #14 "password change form"

[2017-06-15 10:57] nohaapav opened #15 "dockerhub user namespaces"
let dockerhub user change his namespace

user namespaces:
```https://hub.docker.com/v2/repositories/namespaces```

[2017-06-15 12:29] nohaapav commented on #10
done

[2017-06-15 12:29] #10 closed

[2017-06-15 12:44] #11 closed

[2017-06-15 16:24] nohaapav commented on #15
now fetching all private images from all namespaces assigned

[2017-06-15 16:24] #15 closed

[2017-06-15 18:11] nohaapav opened #16 "JWT secret"

[2017-06-15 21:05] #14 closed

[2017-06-15 21:05] #13 closed

[2017-06-15 21:05] #12 closed

[2017-06-16 11:56] nohaapav opened #17 "filter dockerhub users by username -> name not mandatory"

[2017-06-16 11:59] lumir-mrkva opened #18 "readme and collaborators md"

[2017-06-17 09:53] #17 closed

[2017-06-17 09:54] nohaapav commented on #7
done

[2017-06-17 09:54] #7 closed

[2017-06-17 10:00] #1 closed

[2017-06-17 10:00] #2 closed

[2017-06-17 14:31] nohaapav opened #19 "compose -> swarmpit should depends on db .. otherwise install script may fail + use swarmpit as network name .."

[2017-06-18 18:14] nohaapav opened #20 "Add service logging"

[2017-06-18 18:14] nohaapav opened #21 "Add placements"

[2017-06-19 10:06] nohaapav opened #22 "Data fetching on logout"

[2017-06-19 19:40] lumir-mrkva commented on #19
@nohaapav will fix dependency, install script didn't fail, but swarmpit_app was restarting until db was ready. stack name is atomatically prepended in all objects created from stack file, including a network.

[2017-06-19 20:24] nohaapav opened #23 "Unable to fetch data from private dockerhub -> check token"

[2017-06-19 20:26] nohaapav opened #24 "Show docker warnings in message logs if any"

[2017-06-19 20:26] nohaapav opened #25 "user can delete yourself"

[2017-06-19 20:29] nohaapav commented on #19
ahhh .. you're right .. so closing the issue

[2017-06-19 20:29] #19 closed

[2017-06-19 20:32] #9 closed

[2017-06-20 14:25] nohaapav opened #26 "Token secret -> DB hash created while init db"

[2017-06-20 14:26] nohaapav opened #27 "dockerhub credentials stored in local storage only"

[2017-06-20 14:27] nohaapav opened #28 "resource CREATE -> SAVE button"

[2017-06-20 14:28] nohaapav opened #29 "Remove next previous buttons in docker service create wizard"

[2017-06-20 14:28] nohaapav opened #30 "Show all user repositories under private section"
We're now showing only private repositories under dockerhub private search section -> maybe we should rename this section to Search namespace/user and show also public repositories related to namespace/user as well.

[2017-06-20 14:29] nohaapav opened #31 "Add user password salt"

[2017-06-20 15:49] #25 closed

[2017-06-20 15:49] #23 closed

[2017-06-20 16:15] #29 closed

[2017-06-20 16:15] #28 closed

[2017-06-21 01:25] #18 closed

[2017-06-23 09:13] #22 closed

[2017-06-23 09:14] nohaapav commented on #27
closing the issue .. we need to find better way to handle the problem that storing in local storage as we need these information due to future functionality

[2017-06-23 09:14] #27 closed

[2017-06-23 17:20] nohaapav opened #32 "when token deleted nullpointers"

[2017-06-23 18:05] #32 closed

[2017-06-25 21:22] #3 closed

[2017-06-25 21:35] lumir-mrkva opened #35 "show volume mounts"
add link to service(s) that mounts this volume

[2017-06-25 21:37] lumir-mrkva opened #36 "volume prune"
offer prune action (deletes unused volumes) on volume list

[2017-06-25 21:49] nohaapav opened #37 "Add restart policies"

[2017-06-25 21:51] nohaapav opened #38 "Add service autoredeploy"

[2017-06-25 21:51] nohaapav opened #39 "Add application stacks"
Lets make it awesome. This is priority n.1 task after release 1.0

[2017-06-25 23:27] lumir-mrkva opened #40 "multiple dockerhub accounts with same username can be added"
<img width="618" alt="screenshot 2017-06-26 01 18 04" src="https://user-images.githubusercontent.com/2580779/27520506-9ab29996-5a0d-11e7-8dbb-e293db300d30.png">

GET /admin/dockerhub/users
[code]

also, api should never return password to frontend

[2017-06-26 08:21] nohaapav commented on #40
fixed .. u can't create user with same name .. i will dissoc also passwd

[2017-06-26 08:24] nohaapav commented on #40
password issue applies for each domain .. closing this .. cereating new issue for passwords

[2017-06-26 08:24] #40 closed

[2017-06-26 08:24] nohaapav opened #41 "Remove password info from responses"

[2017-06-26 08:38] nohaapav commented on #41
removed from dockeruser,user,registry

[2017-06-26 08:38] #41 closed

[2017-06-26 09:43] nohaapav opened #42 "Add user actions logging"

[2017-06-27 12:42] lumir-mrkva opened #43 "show service update status and offer rollback"

[2017-06-27 14:28] lumir-mrkva opened #44 "write some api test to check compatibility with docker"

[2017-06-27 14:36] nohaapav commented on #16
duplicate of https://github.com/swarmpit/swarmpit/issues/26

[2017-06-27 14:36] #16 closed

[2017-06-27 14:39] lumir-mrkva opened #45 "dependency on db in stack"

[2017-06-27 14:45] lumir-mrkva opened #46 "consider to not share dockerhub accounts system-wide"
mby just add "shared" checkbox

[2017-06-27 20:14] nohaapav opened #47 "If service created via stack Networks section is directly under spec -> need to be mapped as well"

[2017-06-27 20:19] nohaapav opened #48 "Add async processing for docker api .. Some requests took quite long to finish mainly if mallformed"
User don't want to wait usually too long to finish operation. Lets use async for such cases

[2017-06-27 22:03] #45 closed

[2017-06-29 12:05] jwerak opened #49 "[Documentation] Missing info about default user/password"

[2017-06-29 12:31] nohaapav opened #50 "Autoredeploy not supported yet, but we have field already in form"

[2017-06-29 12:42] jirkapenzes commented on #49
Thanks for issues. I updated readme file. Swarmpit has defaulta admin account. You can try login with credentials - username: `admin`, password: `admin`.

[2017-06-29 12:42] #49 closed

[2017-06-29 13:47] jwerak commented on #49
:+1:

[2017-07-01 16:15] #26 closed

[2017-07-01 16:57] nohaapav commented on #43
UNKNOWN = 0;
UPDATING = 1;
PAUSED = 2;
COMPLETED = 3;
ROLLBACK_STARTED = 4;
ROLLBACK_PAUSED = 5; // if a rollback fails
ROLLBACK_COMPLETED = 6;

These are valid states. We're currently showing just flag "updating" if updating state is present.

Regarding to 1.28 API we can specify rollback strategy as follow:

"RollbackConfig": {
"Parallelism": 1,
"Delay": 1000000000,
"FailureAction": "pause",
"Mo

[2017-07-01 19:03] nohaapav commented on #46
We can add private checkbox so account repositories will be hidden to other users if checked

[2017-07-01 19:04] nohaapav commented on #44
It would be nice to start with tests as soon as possible. Due some functionality(e.g. rollbacks) i would like to increase API version ASAP ..

[2017-07-01 19:05] nohaapav commented on #35
We can show list of services using particular volume like service-info

[2017-07-05 17:23] #43 closed

[2017-07-09 13:57] nohaapav opened #51 "Add better BE logging - mainly in case of client error"

[2017-07-11 09:04] alexellis opened #54 "Misleading claims"
This project describes itself as "Lightweight Docker Swarm orchestration" but in fact it's not an orchestration offering at all - it's just a UI. It is a clean UI which looks very useful but it's not orchestration - Docker Swarm and Kubernetes are examples of orchestration platforms.

I'd suggest you update the tagline to: "Lightweight Docker Swarm UI" or "Lightweight UI for Docker Swarm"

Does th

[2017-07-11 10:13] nohaapav commented on #54
@alexellis you're right Alex. We're in rush with product page so there might be some misleading data still. If you check project description you can see "Docker swarm management UI" as a title. We'll update the claims ASAP. Thank you for your feedback.

[2017-07-11 10:34] #54 closed

[2017-07-11 12:30] alexellis commented on #54
This is an improvement.

Do you support stacks for the "public services" tab I saw in your intro GIF? It would be good to see [Serverless FaaS for Docker](https://github.com/alexellis/faas) deployed with Swarmpit.

[2017-07-11 19:09] nohaapav opened #55 "Add service labels"

[2017-07-11 19:14] nohaapav commented on #36
This can be kind a dangerous in fact. Lets have some discussion first. We can introduce this func. in later releases.

[2017-07-11 19:16] nohaapav commented on #6
Duplicate of https://github.com/swarmpit/swarmpit/issues/51

[2017-07-11 19:16] #6 closed

[2017-07-11 19:19] nohaapav commented on #46
Lets discuss over these issues
https://github.com/swarmpit/swarmpit/issues/30

[2017-07-13 12:10] nohaapav opened #56 "Add edit form for user api"
Currently admin is not allowed to update user.

[2017-07-13 13:58] nohaapav commented on #38
- [ ] Create agents

- [ ] Create autoredeploy job

- [ ] Test on single node

- [ ] Test on multiple nodes

[2017-07-13 16:29] nohaapav opened #57 "Add serverless support"
Lets discuss this one with @alexellis

https://github.com/alexellis/faas

[2017-07-13 16:29] alexellis commented on #57
Hey guys, how can I help?

[2017-07-13 16:31] nohaapav commented on #54
@alexellis Well not yet. We’ll try to cover most of swarm API in version 1.0 which should be out till the end of month i guess. And probably some extras as well (autoredeploy, user management, ...) In next release we’re planning to introduce application stacks for sure and also thinking about serverless support, so we can collaborate on this one. I've created new issue so lets discuss this possibi

[2017-07-13 16:38] nohaapav commented on #57
Hi Alex, first we need to check your codebase to have picture how this can be integrated into swarmpit. We're currently busy with ongoing issues which must be done till release one so lets
discuss this issue over next month. How does it sounds ?

[2017-07-13 18:27] lumir-mrkva opened #58 "suggest exposable ports"

[2017-07-14 08:39] augi opened #59 "Windows Containers distribution"
## Use case
I have a Docker swarm that consists of Windows server only. I want to manage this cluster with Swarmpit application.

## Implementation
1. Package the application as Windows Docker Image.
1. The application must use TCP instead of Unix-socket for communication with Docker engine (so [this line](https://github.com/swarmpit/swarmpit/blob/7c20c370fdfef1a441ee30e772b57d123df6e9d3/src/clj/s

[2017-07-14 10:23] nohaapav commented on #59
Good point. We should definitely support Windows users as well.

[2017-07-15 18:11] nohaapav opened #60 "Tags are set to <none> if service created via engine 17.03.1-CE"
This brokes autoredeploy as we're checking for image sha via /images/{image}/json API (no tag -> image not found).  Most probably engine issue

[2017-07-15 18:11] nohaapav commented on #38
Linking this issue probably related to docker https://github.com/swarmpit/swarmpit/issues/60

[2017-07-15 18:23] #38 closed

[2017-07-15 18:24] #50 closed

[2017-07-15 23:19] nohaapav opened #62 "Add update swarm node support"
User should be able to add/remove labels in order to set placement preferences

[2017-07-15 23:21] nohaapav commented on #21
<img width="931" alt="screen shot 2017-07-16 at 1 19 33 am" src="https://user-images.githubusercontent.com/4179104/28243304-0e9acb78-69c5-11e7-92d7-d2d038dfc1d9.png">

[2017-07-16 11:08] nohaapav opened #63 "Clickable service section"
It would be nice if user can simply redirect from service info to particular item (volume,network,...)

[2017-07-16 11:12] nohaapav opened #64 "Cleanup component handlers"
There are still some handlers that should be replaced by the ones from component/handler.cljs

[2017-07-16 13:33] nohaapav opened #65 "Load resource types based on plugin API"
We should be able to load also custom plugin resource type (volume/network/...)

[2017-07-16 18:02] #21 closed

[2017-07-16 19:27] #37 closed

[2017-07-17 10:21] #64 closed

[2017-07-17 12:59] #55 closed

[2017-07-17 17:28] #63 closed

[2017-07-18 11:33] nohaapav opened #72 "Service info form with same layout as list"

[2017-07-18 13:12] jirkapenzes commented on #59
Hi @augi, I tried to run Swarmpit on Windows 10 machine and it works fine for me. I tried docker native engine what using hyper-v and also I tried old Docker toolbox with Oracle VM box. In both cases Swarmpit working fine.
Can you please help me with this issue - how I can replicate this issue? Is necessity use Windows Server for issue reproducing?
Thanks, Jirka

[2017-07-18 13:25] augi commented on #59
Hi @jirkapenzes, what are you describing is running Swarmpit in Linux Container (in a VM). This issue is about Windows containers, so truly native Windows containers (the isolation is made in Windows Kernel). To use this native Windows containers, you must click here:
![image](https://user-images.githubusercontent.com/273052/28318954-cd742ec8-6bcc-11e7-8430-62c334f03779.png)

To make this working,

[2017-07-20 02:50] jack6liu opened #73 "ISSUE: Image and tag display abnormally at service edit page"
The image and tag when using local registry will display abnormally at service edit page, while it will display well at service overview page. please check the below screenshots.

**service edit**
![20170720-103728](https://user-images.githubusercontent.com/8843389/28398281-0ef9e69a-6d39-11e7-93ee-cca2af1a236f.jpg)

**service overview**
![20170720-103710](https://user-images.githubusercontent.com/

[2017-07-20 07:52] nohaapav commented on #73
I guess overview is ok. It uses same approach as default docker client that means if there is custom registry, image is prefixed with registry url .. But service edit is broken for sure if there is registry with port defined.

Maybe we can instead of using docker client prefixing way show which registry was image pulled.

[2017-07-20 08:28] jack6liu commented on #73
I paste 2 kind of image from docker hub and local registry here, not sure if there is any situation that there is no 'tag' of some images.

**service inspect with local registry**
[code]

**service inspect with docker hub**
[code]

So maybe the whole `Image` string can be processed by `@` and last or second `:`

[2017-07-20 08:50] nohaapav commented on #73
There should be always tag :) Basically the problem here is that we didn't count with the fact that registry can have port so if image is splitted by `:` and there is port -> `5000/emilevauge/whoami ` section is returned instead of tag.  Will fix it asap

[2017-07-20 09:38] nohaapav commented on #73
@jack6liu Could you pull the latest version & check ? I've pushed the fix.

[2017-07-20 11:41] jack6liu commented on #73
@nohaapav tested, working great !!

![image](https://user-images.githubusercontent.com/8843389/28415699-695fd83e-6d83-11e7-8765-eda2740d9b75.png)

[2017-07-20 12:15] nohaapav commented on #73
Good. Closing the issue then.

[2017-07-20 12:15] #73 closed

[2017-07-22 11:41] nohaapav commented on #48
**Cases:** - loading forever even if service created

1. Choose port, network, environment variable & label

[2017-07-22 11:46] dbecvarik commented on #46
I think "shared" checkbox is much better than "private". From security point of view everything you create and contains access to something private should not be shared in system by default.

[2017-07-22 11:59] nohaapav commented on #46
Agree. We already discussed this topic and default behaviour will be same as your proposal @dbecvarik . By default dockerhub accounts will be accessible only for given swarmpit user with possibility to make it public (shared) ..

[2017-07-22 12:02] #72 closed

[2017-07-23 08:39] nohaapav commented on #47
Working fine in 17.06.0-ce, network is under Spec/TaskTemplate .. Closing then

[2017-07-23 08:39] #47 closed

[2017-07-23 11:23] #56 closed

[2017-07-25 22:37] lumir-mrkva opened #76 "tags list doesn't work for public repository"
[code]

[2017-07-26 01:50] jack6liu opened #77 "ISSUE: unauthorized login should redirect to login page instead of show error 401"
For the latest swarmpit version, if login session is expired, when re-open the non-login page, it will show http error 401 unauthorized, I think it better to redirect to login page.

**Error 401**, testing url is `http://host_name_or_ip/#/services`
![image](https://user-images.githubusercontent.com/8843389/28600868-6a7b8ebc-71e7-11e7-98f6-bf7dc289f096.png)

**Login page**, better to redirect to `h

[2017-07-26 10:42] #44 closed

[2017-07-26 10:44] nohaapav commented on #77
Well there is no session .. It's because swarmpit token expired. We can probably redirect user directly if token is expired instead of showing not authorized access(token invalid, insufficient rights).

Anyway good point.

[2017-07-26 12:03] #76 closed

[2017-07-27 12:20] nohaapav commented on #48
After some debugging it seems like a problem with local repl instance only. Also @lumir-mrkva started with new socket impl for docker client so closing this issue.

[2017-07-27 12:20] #48 closed

[2017-07-28 00:31] lumir-mrkva opened #79 "remove curl"

[2017-07-28 12:34] #79 closed

[2017-07-29 00:57] lumir-mrkva opened #81 "require old password when changing password"

[2017-07-29 10:19] lumir-mrkva opened #82 "enter chould be mapped to save in form"

[2017-07-29 21:54] #31 closed

[2017-07-30 13:42] #81 closed

[2017-07-30 17:57] #77 closed

[2017-07-31 19:09] nohaapav commented on #30
Let users decide.

[2017-07-31 19:09] #46 closed

[2017-08-01 10:38] #58 closed

[2017-08-01 10:44] #4 closed

[2017-08-01 10:45] nohaapav commented on #60
confirmed engine issue .. closing

[2017-08-01 10:45] #60 closed

[2017-08-01 14:45] #65 closed

[2017-08-01 15:07] #51 closed

[2017-08-02 12:25] lumir-mrkva opened #90 "suggest environment variables"
autocomplete env var names from already used vars in swarm

[2017-08-02 13:01] lumir-mrkva opened #91 "link image to docker hub from service detail when possible"

[2017-08-04 13:02] nohaapav commented on #91
Can see any reason why to do that. Nobody cares about dockerhub ui :)

[2017-08-06 16:00] gondor opened #92 "Q: Any plans to have Swarmpit agents?"
I played with the UI and it looks great.  One thing lacking I have found in using Portainer is I have no way to view logs or exec in tasks within a service.  Are there any plans in this project to have optional agents to allow these capabilities?

[2017-08-06 20:52] nohaapav commented on #92
In release 2.0 we will introduce service logs viewer for sure. Here is issue:
https://github.com/swarmpit/swarmpit/issues/20

Exec is not on list, but i agree it might be useful while debugging so we'll consider implementation as well.

[2017-08-06 20:53] nohaapav opened #93 "Add task exec agent support"

[2017-08-07 16:01] #92 closed

[2017-08-07 16:01] nohaapav opened #94 "Add docker resource role management"

[2017-08-08 08:21] omerh opened #96 "no support for depends_on in compose v3"
Hi

when launching into a swarm cluster the application might not start due to the fact that depends_on no longer supported by swarm.

https://docs.docker.com/compose/compose-file/#depends_on

So you can add a start script on app that waits db to start listen on have the app no crash and wait till db starts.

I had a similar issue with nginx crash because starting before backend node application.

[2017-08-08 08:38] nohaapav opened #97 "Add DTR support"
Docker trusted registry is using token generated by docker auth instead of basic token.

[2017-08-08 12:41] nohaapav opened #98 "Add swarm cluster resource monitoring"

[2017-08-09 03:42] michaelwilde commented on #97
Let me know if you need a DTR to test against.

[2017-08-09 07:35] nohaapav commented on #97
@michaelwilde That would be great. Otherwise i have to create UCP and DTR somewhere.

[2017-08-09 10:19] lumir-mrkva opened #99 "allow to set services log-driver"

[2017-08-09 13:16] nohaapav opened #100 "Autoredeploy failing if local image on different node than swarmpit"
Lets fetch image id directly from distribution while creating service.

[2017-08-09 14:51] nohaapav opened #101 "Add service redeploy button"

[2017-08-09 19:23] #100 closed

[2017-08-10 11:40] nohaapav opened #102 "Don't remove network while autoredeploy"
Network is fetching via separate api .. we need to remap domain while force update

[2017-08-10 12:27] nohaapav opened #103 "Show only swarm scoped networks while creating service"

[2017-08-10 12:29] #103 closed

[2017-08-10 12:29] #102 closed

[2017-08-11 11:28] lumir-mrkva opened #104 "visualise services by networks"

[2017-08-11 11:29] lumir-mrkva opened #105 "show list of linked services in volume/network/secret ..."

[2017-08-11 11:39] lumir-mrkva opened #106 "check updates service and integration to swarmpit"

[2017-08-11 11:43] lumir-mrkva opened #107 "submit error report option on error page"

[2017-08-11 14:31] nohaapav commented on #35
closing in favour of https://github.com/swarmpit/swarmpit/issues/105

[2017-08-11 14:31] #35 closed

[2017-08-11 14:51] lumir-mrkva opened #108 "exposed ports are sugested multiple times"
each time tag of image is specified another exposed port is added, even when its the same one

[2017-08-11 14:52] lumir-mrkva commented on #108
btw. no ports are sugested in service update dialog

[2017-08-11 15:39] nohaapav commented on #108
@lumir-mrkva update is on purpose ..

[2017-08-13 13:41] #20 closed

[2017-08-13 17:26] nohaapav opened #111 "Add service rollback button"

[2017-08-13 17:38] #99 closed

[2017-08-14 14:47] lumir-mrkva opened #113 "refresh data automatically on service detail page"

[2017-08-14 19:06] cuera opened #114 "Is it possible to use Swarmpit with Gitlab's registry?"

[2017-08-15 08:34] nohaapav commented on #114
Well gitlab is integrating standard v2 registry, but uses it's own token for auth. We're supporting currently v2 without or with basic auth token only.

[2017-08-15 11:07] lumir-mrkva opened #115 "filter by more than just a name (id, node, port ...)"

[2017-08-15 17:53] lumir-mrkva opened #116 "replace SNAPSHOT in header with commit hash"

[2017-08-16 14:31] lumir-mrkva opened #117 "add node option to display join command"
or mby even execute it with ssh

[2017-08-16 15:36] #101 closed

[2017-08-16 17:39] #111 closed

[2017-08-16 17:40] #114 closed

[2017-08-16 19:54] lumir-mrkva opened #120 "docker api waits forever for some calls"
add hard timeout

[2017-08-16 19:58] #120 closed

[2017-08-21 08:13] #108 closed

[2017-08-21 16:38] lumir-mrkva opened #122 "allow to rename service or atleast to duplicate it with same config"

[2017-08-21 17:07] nohaapav commented on #117
Let's discuss over this issue once we have permission in place as we don't want to expose join-token to swarmpit user for sure.

Currently I'm pretty happy with fact that only privileged users can ssh into cluster and provide join token.

[2017-08-22 20:22] nohaapav opened #123 "Wrong service state replicas number for special cases"
- wrong global repl. count if placement applied
- wrong running replicas showed if node goes down

[2017-08-23 09:04] #123 closed

[2017-08-23 10:32] sunderyni opened #125 "Have a View-only user that cant change anything in the swarm cluster"

[2017-08-23 10:58] nohaapav commented on #125
We can add guest role to achieve that. Fair point.

[2017-08-23 11:02] nohaapav commented on #125
@lumir-mrkva Let's discuss impact to: https://github.com/swarmpit/swarmpit/issues/94

[2017-08-24 09:13] prokopsimek opened #126 "Cursor jumps to the end of input while editing the value in the middle"
Cursor jumps to the end of input while editing the value in the middle.

[2017-08-24 13:33] nohaapav commented on #126
https://github.com/callemall/material-ui/issues/4430

Material UI bug. We'll check for workaround

[2017-08-28 15:17] prashshr opened #127 "an option to deploy new stack with a custom compose file"

[2017-08-28 17:30] nohaapav commented on #127
This is currently in progress. See https://github.com/swarmpit/swarmpit/issues/39

[2017-08-28 17:30] #127 closed

[2017-09-01 14:34] lumir-mrkva opened #128 "service create with same name returns 200"

[2017-09-05 19:50] lumir-mrkva opened #129 "editing of larger enviroment variables is problematic"

[2017-09-06 11:49] megastef commented on #92
@gondor Pls. check Sematext Docker Agent, it tags logs  with Swarm meta data like service name, task ID etc. you could use the agent with Elasticsearch or Sematext Cloud https://hub.docker.com/r/sematext/sematext-agent-docker/

[2017-09-10 16:11] cbailly42 opened #130 "Running swarmpit on a arm swarm"

[2017-09-13 23:16] davidjameshowell opened #131 "Gitlab Registry for Custom Registry"
Error Message
`Registry creation failed. Reason: Registry credentials does not match any known registry`

I am attempting to add a custom registry provided by Gitlab. I have attempted `https://registry.gitlab.com` and `https://registry.gitlab.com/` and `https://registry.gitlab.com/user.name` but do not understand the specific error message below. I attempted to dive in to the code but am not famil

[2017-09-14 16:38] nohaapav commented on #131
@davidjameshowell Hi David, hope that this thread answer your question.

https://github.com/swarmpit/swarmpit/issues/114

As we're using gitlab as well we will probably add support for gitlab registry auth flow as well soon.

[2017-09-14 18:19] davidjameshowell commented on #131
Thank you @nohaapav! I should have searched the issue more thoroughly next time!

[2017-09-14 18:19] #131 closed

[2017-09-17 12:59] Vratislav opened #132 "Swarmpit cannot add registry over HTTPS protected by LetsEncrypt SSL"
# Bug

When adding registry protected by LetsEncrypt SSL certificate, the Swarmpit errors out.

<img width="963" alt="screenshot 2017-09-17 14 48 25" src="https://user-images.githubusercontent.com/346066/30520951-79441122-9bb7-11e7-9877-6a73fdddc549.png">

On the registry server, the following message is displayed in the console output:

[code]

This seems to be a TLS issue.

# Expected behaviour

[2017-09-17 17:57] nohaapav commented on #132
This is special case we need to dig a bit into. If ACME certificates are used in proxy in front of registry (nginx, traefik) everything works as expected.

[2017-09-18 17:47] nohaapav opened #134 "Add service resource management"

[2017-09-19 14:22] lumir-mrkva opened #135 "service log stops tailing after service update"
stops when only task in service is deleted and created new one

[2017-09-20 12:43] lumir-mrkva opened #136 "create service with name containing invalid symbol like dot doesn't return error"

[2017-09-21 16:39] derPuntigamer opened #137 "can't start swarmpit with the shown commands"
I've tried to run swarmpit on my local machine with the commands presented on the website. I've created a Docker swarm locally.

I've deployed my stack on my local swarm with:

[code]

still, the localhost:888 hangs. Container logs:
**swarmpit:**
[code]
**db:** https://pastebin.com/Yur4VeYX

I'm very eager to try out swarmpit, please help me (and the future users) to get started!

[2017-09-22 06:40] derPuntigamer commented on #137
the issue may be solved with #5 (if it will be implemented)

[2017-09-22 08:46] nohaapav commented on #137
Hi @derPuntigamer, could you please provide more info. Which release are u using, os etc ..
Sometimes swarmpit hangs due to waiting for DB to be initialized in case of new installation. This problem is known and we're currently working on it [issue](https://github.com/swarmpit/swarmpit/issues/96)

[2017-09-22 11:20] lumir-mrkva commented on #137
@derPuntigamer everything looks fine to me, are you sure that your services are published on localhost? try to use http://0.0.0.0:888. if you are using some vm to run docker, try it's ip address.

if that won't help, please provide more information about your setup (docker version, docker node inspect, docker info, your os...).

[2017-09-23 08:51] derPuntigamer commented on #137
http://0.0.0.0:888 did it, thank you! Silly mistake...

[2017-09-23 08:51] #137 closed

[2017-09-26 21:45] lumir-mrkva opened #138 "replace httpkit on server by clj-http"
fixes #132 and similar problems

[2017-09-27 08:39] nohaapav commented on #138
most of the client won't need this change as docker services are using signed valid SSL certificate, but anyway we would like to unify our clients implementation so http-kit will be used only for server purpose. On client side we'll use clj-http.

[2017-09-28 09:54] lumir-mrkva opened #139 "show local times in fe"
insted of GMT

[2017-09-28 10:23] lumir-mrkva opened #140 "delete of used volume returns ok, but volume is not removed"
`docker volume rm` returns

[code]

probably bug in error handling

[2017-09-28 10:31] lumir-mrkva opened #141 "service is detached from stack after swarmpit service updates"
after updating `qh4t6m5onfr2vpv31we8qu4aa` in swarmpit

[code]

note that `qh4t6m5onfr2vpv31we8qu4aa` was created as part of this stack

[2017-09-28 11:15] lumir-mrkva commented on #141
it seems that swarmpit replaces all labels including stack ones

before
[code]

after
[code]

[2017-09-28 18:38] lumir-mrkva opened #142 "focus in filter input on page start"

[2017-09-28 21:32] #96 closed

[2017-09-29 21:11] #142 closed

[2017-09-29 21:54] lumir-mrkva commented on #140
same behaviour is on other delete actions

[2017-09-30 00:42] nohaapav commented on #140
it happens just for used resources

[2017-09-30 10:27] nohaapav commented on #140
@lumir-mrkva Problem was introduced with new docker client:

`(throw (let [data (some-> exception (ex-data))
                   error (if (= "application/json" ((:headers data) "Content-Type"))
                           (parse-string (:body data) true)
                           {:body (:reason-phrase data)})]`

The response must be in format
`{:status http_code
 :body   response_body (in case of

[2017-09-30 11:13] lumir-mrkva commented on #136
related to #140

[2017-09-30 11:16] lumir-mrkva commented on #140
fixed by #144

[2017-09-30 11:16] #140 closed

[2017-09-30 11:17] lumir-mrkva commented on #136
fixed by #144

[2017-09-30 11:17] #136 closed

[2017-09-30 18:49] #116 closed

[2017-10-01 00:47] lumir-mrkva commented on #126
related to #129

[2017-10-01 13:01] #139 closed

[2017-10-01 13:41] #90 closed

[2017-10-01 15:13] nohaapav commented on #128
fixed by #144

[2017-10-01 15:13] #128 closed

[2017-10-01 15:21] #134 closed

[2017-10-02 17:37] lumir-mrkva opened #149 "volume driver not propagated in service update"
causes creation of "local" volume on nodes without that particular volume

[2017-10-02 19:03] nohaapav commented on #149
This is causing issues with cloudstor driver (plugin)

Docker engine behavior - it will poll all existing plugins for a volume with the name and if one says it already created a volume with the name, the engine won't send the Create to other plugins.

[2017-10-03 17:56] #141 closed

[2017-10-08 14:13] #149 closed

[2017-10-12 17:23] #138 closed

[2017-10-12 17:25] nohaapav commented on #132
all clients now using clj-http instead of httpkip .. Lets encrypt certificate should not be an issue anymore
Related to : https://github.com/swarmpit/swarmpit/issues/138

[2017-10-12 17:25] #132 closed

[2017-10-12 21:10] fmobus opened #156 "cannot set an env variable with values that contain an equal sign"
As described in title, if I try to set an environment variable with a value that contains an equal sign, it appears that swarmpit splits it and drops whatever is after that character.

Steps to reproduce:
1. create a service with any image
2. add an environment variable with name `MYVAR`
3. set `MYVAR` value to be `firstpart=second=third`
4. save the service

What happens:
- upon viewing the servi

[2017-10-13 08:50] nohaapav commented on #156
Fixed with https://github.com/swarmpit/swarmpit/commit/e1f4468aa1a5eeff92af53f5227cd6a1b375ebe9

[2017-10-13 08:50] #156 closed

[2017-10-13 09:10] nohaapav opened #157 "Add token auth support for custom docker registry"
We should be able to support also custom registry with other than basic auth

e.g.
DTR (Docker Trusted Registry)
Gitlab registry

[2017-10-13 09:11] nohaapav commented on #97
Closing in favour of
https://github.com/swarmpit/swarmpit/issues/157

[2017-10-13 09:11] #97 closed

[2017-10-13 09:14] nohaapav commented on #114
Issue to support custom registry added in 1.3
https://github.com/swarmpit/swarmpit/issues/157

[2017-10-13 09:15] nohaapav commented on #131
Issue to support custom token with registry added in 1.3
https://github.com/swarmpit/swarmpit/issues/157

[2017-10-13 14:00] nohaapav opened #158 "Distribution state flag instead of deleting entirely from DB"
In case of services with autoredeploy flag on, deleting of distribution broke redeploy flow. We should just hide record by setting deleted flag once distribution deleted instead of physical removal.

[2017-10-15 12:18] nohaapav opened #159 "Upgrade material-ui components to NEXT once released."
Next Milestone: https://github.com/callemall/material-ui/milestone/14

[2017-10-15 12:44] nohaapav commented on #126
Will be fixed by https://github.com/swarmpit/swarmpit/issues/159

[2017-10-15 12:45] nohaapav commented on #129
Will be fixed by https://github.com/swarmpit/swarmpit/issues/159

[2017-10-17 14:56] morph027 opened #160 "weird login screen on Firefox"
Using Chrome, everything looks nice, but using Firefox i got strange red borders around login input fields:

https://screenshots.firefox.com/nZ57I3PzfE4s7WzR/swarmpit.swarm

[2017-10-17 15:13] nohaapav commented on #160
These field are using formsy validation. Probably just some css issue we need to fix.

[2017-10-17 15:25] nohaapav commented on #160
Fixed by adding:

`input:invalid {
    box-shadow: none;
}`

Lets fetch latest version once deployed

[2017-10-17 15:25] #160 closed

[2017-10-17 16:18] morph027 commented on #160
Well, that was fast ;)

[2017-10-17 19:22] nohaapav commented on #160
@morph027 ;) small fixes are done within 24 hours usually .. Otherwise free pizza !!!

[2017-10-18 00:15] fmobus opened #161 "discussion/possible improvement: a finer control of image fetching during redeploy"
A bit of background first: I have a swarmpit managing my docker swarm, and wanted to integrate it with my CI setup (bitbucket pipelines), so that my staging environment is automatically updated after each successful build.

I spent a couple of days attempting to programatically tell swarmpit to redeploy a service with a new image. The idea was to:

- create (once) a service with image `my-registry

[2017-10-18 12:07] nohaapav commented on #161
@fmobus Hi,

Regarding `.repository.imageId` .. These are metadata for swarmpit autoredeploy. Basically if autoredeploy flag is on we check if current imageId is different from imageId in registry -> If yes, we redeploy service automatically with newest image. This value (`.repository.imageId`) is not updated on manual redeploy. Redeploy is basically swarm force command. It should fetch always new

[2017-10-18 14:49] nohaapav commented on #57
- [ ] function build pipeline
- [ ] function editor
- [ ] integration with open-faas gateway

[2017-10-18 15:21] lumir-mrkva opened #162 "add memory constraints to default swarmpit docker compose"

[2017-10-24 18:47] lumir-mrkva opened #163 "configurable default service template"

[2017-10-25 09:09] dstepanov opened #164 "CouchDB needs to be initialized"
I'm trying to start swarmpit as a stack, but it looks like it doesn't work as I'm getting CouchDB errors:
[code]
After some searching I thing the problem is that new version of CouchDB requires manual setup after first launch.

Can you advice how to properly start the stack?

[2017-10-25 10:23] dstepanov commented on #164
I'm using this compose file:
[code]
CouchDB logs is full of errors:
[code]

Docker version:
[code]

[2017-10-25 11:12] nohaapav commented on #164
@dstepanov Don't mind the errors .. I see there are some find operations against swarmpit db so DB was created. And swarmpit should be working fine. Just hit http://localhost:888

[2017-10-25 11:40] nohaapav commented on #164
<img width="1611" alt="screen shot 2017-10-25 at 1 38 32 pm" src="https://user-images.githubusercontent.com/4179104/31996781-0ad0f0d4-b98a-11e7-9b38-cb8af332b61c.png">

I've just tried that stack by myself

[2017-10-25 11:47] dstepanov commented on #164
It doesn't work for me, page is loading forever.

Do you have any errors in DB logs?

[2017-10-25 12:41] dstepanov commented on #164
I have managed to make it work using `docker run` commands. First I would create CouchDB go to the settings and setup user then I would run linked swarmpit.

[2017-10-25 13:09] nohaapav commented on #164
I have pretty much the same errors as you do .. As i mentioned these errors are not related to your problem.

As you can see there is a lot of OK queries ..

`[notice] 2017-10-25T10:21:08.225792Z nonode@nohost <0.406.0> ad64a473da db:5984 10.0.0.5 undefined PUT /swarmpit 201 ok 44
[notice] 2017-10-25T10:21:08.278428Z nonode@nohost <0.407.0> ac5cdf7540 db:5984 10.0.0.5 undefined POST /swarmpit/_fin

[2017-10-25 13:29] dstepanov commented on #164
It's strange everything is running.
[code]

I'm running on local machine.

[2017-10-25 14:17] dstepanov commented on #164
Sorry guys, looks like the problem is on my site.
Somehow http://localhost:888 wasn't working when using stack but http://127.0.0.1:888 does.

Sorry to waste your time, your product looks great, keep it up!

[2017-10-25 14:17] #164 closed

[2017-10-25 14:20] nohaapav commented on #164
@dstepanov Glad that you solved it !! .. ;) Sometimes http://0.0.0.0:888 works better than localhost either ..

[2017-10-28 15:16] nohaapav opened #165 "sse support"
Swarmpit should be able to react on docker event changes, monitoring data. etc.. based on events instead of periodical data fetching.

[2017-10-28 15:18] nohaapav commented on #113
Depends on https://github.com/swarmpit/swarmpit/issues/165

[2017-10-30 17:38] mpsmith opened #166 "Secret with Custom File Name is being overridden upon updating a Service via SwarmPit"
Steps to reproduce:
1. Create a service with any image, set replicas to 1.
2. Create a secret `echo myval | docker secret create mysecret -`
3. Add the secret to the service, with a custom file name: `docker service update --secret-add source=mysecret,target=/custompath/mysecret`
4. In Swarmpit, choose the service, and change value for replicas to 0, then Save the service

What happens:
- upon ins

[2017-10-31 17:18] MartinBurian opened #167 "Fail to fetch docker registry contents"
In swarmpit, when I try to create a new service from a docker image in our private GitLab registry, swarpit just says
`Obtaining the registry catalog failed. Enter the exact repository name to create service directly.`
The swarmpit logs:
[code]

swarmpit 1.2-56f6f93

Please let me know if you need more information.

[2017-10-31 20:05] nohaapav commented on #167
@MartinBurian Hi Martin .. we currently support only basic auth based registry .. gitlab is using custom auth token -> In version 1.3 we are going to support custom token based registry as well.
Check following issue and linked issues please:
https://github.com/swarmpit/swarmpit/issues/157

[2017-10-31 20:05] #167 closed

[2017-11-01 14:28] nohaapav commented on #166
@mpsmith Thanks Matthew for reporting this bug. Should be fixed. Please fetch latest version.

[2017-11-01 14:28] #166 closed

[2017-11-01 16:06] mpsmith commented on #166
Tried it out.  Works great!   Thanks for the quick turn-around!

[2017-11-01 16:19] mpsmith opened #169 "Updating a service does not preserve Arguments"
Steps to reproduce:
1. Create a service with an image, passing arguments  i.e. -  `docker service create --replicas 1 --name pinger alpine ping docker.com`
2. In Swarmpit, update the service, set the replicas to 2, and Save the service

What happens:
- service fails to restart because arguments are no longer being passed  (compare .Spec and .PreviousSpec to see clearly)

[code]
vs
[code]

What sho

[2017-11-01 16:22] nohaapav commented on #169
This is mainly because swarmpit does not support arguments yet. Will add support as well ;)

[2017-11-02 10:19] nohaapav commented on #169
@mpsmith Hey Matthew, should be ok now. Please check latest version.

This finding was actually more than just argument issue.
There was a premise in the beginning that services should be created only via swarmpit. If this is the case service data should be preserved and working well during update. But if service is created via cli with unknown data for swarmpit(e.g. arguments) these were cut off

[2017-11-02 17:36] mpsmith commented on #169
@nohaapav Thanks!  I like your overall approach of applying a delta to the existing state.  That seems like it should cover other things that might pop-up.

[2017-11-03 08:44] #169 closed

[2017-11-05 11:13] sanchobouillant opened #170 "Ups something goes wrong"
Hi,

I installed swarmpit with:

git clone https://github.com/swarmpit/swarmpit
docker stack deploy -c swarmpit/docker-compose.yml swarmpit

I connect with admin/admin then i have a 500 error on /services.

Where can i find some log to see what happened ?

[2017-11-05 12:45] nohaapav commented on #170
@sanchobouillant Hi Julien, just open browser console. You should see what is going wrong.

<img width="1609" alt="screen shot 2017-11-05 at 1 43 48 pm" src="https://user-images.githubusercontent.com/4179104/32414852-92d6a340-c22f-11e7-9e08-7eaa7ca192d2.png">

[2017-11-05 14:10] sanchobouillant commented on #170
{"cause":null,"via":[{"type":"java.lang.NullPointerException","message":null}],"trace":[]}

It help ?

[2017-11-05 16:03] nohaapav commented on #170
Could you provide more info:

Like which endpoint returns such error? req/resp
What version of docker are u using ?
What os are u using?

[2017-11-06 12:06] markuman opened #171 "How to add new nodes?"
E.g. I've got a new AWS EC2 instance and want to run there a new node?

[2017-11-06 13:14] nohaapav commented on #171
@markuman Hi, not possible via swarmpit currently. You need to use swarm cli to do that. For now we're focusing on resource management, not infrastructure. But in future we're going to support adding nodes as well.

Anyway that is not priority right now :)

[2017-11-06 14:16] markuman commented on #171
And how to do it with swarm cli?

[2017-11-06 14:49] nohaapav commented on #171
Please check official docker swarm documentation:

https://docs.docker.com/engine/swarm/join-nodes/

[2017-11-06 20:00] sanchobouillant commented on #170
Docker version 17.09.0-ce, build afdb6d4
Linux 4.9.0-3-amd64 #1 SMP Debian 4.9.30-2+deb9u3

/#/login is working
/#/services error 500

I have a private registry working in se the same server.

Do you need more informations ?

[2017-11-06 20:55] markuman commented on #171
ok, got it. thx

[2017-11-06 20:55] #171 closed

[2017-11-06 20:56] nohaapav commented on #170
@sanchobouillant Could you try one more thing:

After login go to browser local storage, copy paste token value -> it should be some bearer type e.g. `Bearer eyJhbGciOiJ`

Then call backend services endpoint `/services` with `Authorization` header with given token value and copy paste result here please.

[2017-11-06 20:57] markuman opened #172 "Cannot add gitlab registry"
When I use `https://registry.gitlab.com` and add my login data, I got the error `Registry creation failed. Reason: Registry credentials does not match any known registry`
Thats all. Can someone reproduce this? Or is there a more detailed error message?

[2017-11-06 21:01] markuman commented on #172
Hm ok, browser console says `Failed to load resource: the server responded with a status of 400 (Bad Request)` Any ideas?

[2017-11-06 21:03] nohaapav commented on #172
@markuman This is because swarmpit currently support only basic auth based registry. Gitlab is using custom token. There is already issue in this release to add custom token support:

https://github.com/swarmpit/swarmpit/issues/157

[2017-11-06 21:35] sanchobouillant commented on #170
Same error with postman

![image](https://user-images.githubusercontent.com/5731199/32465145-bfbba14e-c342-11e7-9aad-dfb30da2114a.png)

[2017-11-06 22:39] nohaapav commented on #170
@sanchobouillant What if you try to reach some service data by id/name ? E.g.

`/services/{id}`

[2017-11-07 22:28] derPuntigamer opened #173 "DockerHub Repository not shown in wizard"
I have a freshly created public repository on DockerHub (a few hours old) and it does not shows in the search. First, I've created a repository with a false name (typo) and somehow, the old and deleted repository still shows in the search. How the query is performed? Is there an own DB for the public DockerHub repos?

[2017-11-07 22:32] derPuntigamer commented on #173
logs from the DB container:

[code]

[2017-11-08 07:55] derPuntigamer commented on #173
It seems time solved the problem. Anyway, is there a way to force synchronizing DockerHub?

[2017-11-08 09:43] nohaapav commented on #173
@derPuntigamer Hi Daniel, I will try to reproduce your issue. Public repositories are fetched via official [API](https://github.com/swarmpit/swarmpit/blob/master/src/clj/swarmpit/dockerhub/client.clj#L7) Maybe these queries are cached somehow for some time, need to check documentation ..

[2017-11-08 09:44] #172 closed

[2017-11-13 22:43] kassanmoor opened #174 "Read only user"
Would be niace have a third role read only user, than can only see stuff (logs, envs )without mess anything

[2017-11-14 09:45] nohaapav commented on #174
@kassanmoor Hi, this will be ready once we finish resource role management.

Check related issues:

https://github.com/swarmpit/swarmpit/issues/125
https://github.com/swarmpit/swarmpit/issues/94

[2017-11-14 09:45] #174 closed

[2017-11-14 12:18] dalu opened #175 "Serve TLS (aka the obligatory letsencrypt support issue)"
swarmpit is reachable on port 888 via http only
swarmpit should utilize https
the cheapest and most simple way (with a valid cert) is using letsencrypt

for this swarmpit should have 2 parameters added to its cli/docker configuration

`ACME_EMAIL` the email address associated with the domain
`ACME_DOMAIN` the domain where this swarmpit is hosted e.g. https://mydomain.tld:888/ would be mydomain.tld

[2017-11-15 09:20] dalu commented on #175
Ok, but if that nginx or traefik host is remote and the transport is unencrypted this leads to "NSA reading your credentials".

Docker swarm exposes services on the public IP addrs of all nodes.

Now you have a traefik running with acme support on port 80 which is configured to read from master node port 888,

master 10.0.0.1
worker1 10.0.0.2

swarmpit running on master
traefik running on master a

[2017-11-15 09:20] #175 closed

[2017-11-15 14:45] lumir-mrkva commented on #175
@dalu its surely good idea to support https communication for transport, but i don't see necessity of letsencrypt integration - swarmpits certificate would be configured by using secret or env variable

[2017-11-15 14:48] lumir-mrkva commented on #175
@dalu btw. if you are concerned about communication between your cluster nodes, you can use overlay network with encrypted communication, see https://docs.docker.com/engine/userguide/networking/overlay-security-model/

[2017-11-16 17:02] markvr opened #176 "Disable authentication"
Firstly this looks awesome and is exactly what I've been looking for!

I was wondering if it's possible to disable the authentication entirely?  Then I could proxy it behind Apache, which we have plugged into our onsite single sign on system.  This would mean my users could login using their domain credentials, rather than needing individual accounts in Swarmpit itself.

[2017-11-16 18:07] nohaapav commented on #176
@markvr Hi, yes there is plan to implement SSO in future (i guess beginning of 2018) :) Unfortunately it's not possible to disable auth at the moment as we're using JWT token to handle BE auth.

[2017-11-21 17:40] #165 closed

[2017-11-23 12:38] rsoika opened #178 "Unable to run swarmpit on my docker host"
I try to install and run swarmpit in my linux docker host.
I installed it from git hub

`git clone https://github.com/swarmpit/swarmpit -b 1.2`

started the swarm mode

`docker swarm init`

and run the docker command:

[code]

But I got no UI on localhost:888
I also tried to change the port to 8080 with no result.
How can I see what is going wrong in my setup?

I am running docker version:

[code]

[2017-11-23 14:49] nohaapav commented on #178
@rsoika Hi Ralph, setup is most probably ok. You can always check swarmpit_app log if server is running .. Try to use http://0.0.0.0:888. if you are using some vm to run docker, try it's ip address.

[2017-11-23 22:11] rsoika commented on #178
Thanks for your feedback!
Yes it is working with  http://0.0.0.0:888.
Why is http://localhost:888 not working?

[2017-11-24 08:53] nohaapav commented on #178
@rsoika Check this [feed](https://github.com/moby/moby/issues/2509#issuecomment-27568447)

[2017-11-24 08:53] #178 closed

[2017-11-24 12:56] develar opened #179 "Configs in the "Data""
I am impressed. Still not clear for me why you decided to implement your own solution instead of contributing to Portainer, but I like swarmpit interface :)

Is it possible to add `Configs` to the `Data` (as we have already `Secrets`)?

Docs: https://docs.docker.com/engine/swarm/configs/ (in general, the same as secrets).

[2017-11-24 13:55] nohaapav opened #180 "Add data config"

[2017-11-24 14:02] nohaapav commented on #179
@develar Thank you. Actually we're searching for some solution few months ago (swarm mode was introduced into docker) and we didn't like portainer interface (user interaction, validation), also portainer was missing lot of features that it has now .. Apart from that we had our vision how to manage swarm cluster so we started writing something on our own. For last 5 months we're trying to cover mos

[2017-11-24 16:18] #179 closed

[2017-11-24 17:51] nohaapav commented on #170
As this seems to be dead thread closing .. Feel free to reopen & continue discussion

[2017-11-24 17:51] #170 closed

[2017-11-24 17:52] nohaapav opened #181 "Add SSO support"

[2017-11-24 17:52] nohaapav commented on #176
Closing in favour of https://github.com/swarmpit/swarmpit/issues/181

[2017-11-24 17:52] #176 closed

[2017-11-25 19:30] nohaapav opened #183 "Add data pushed event view support"
Let's use subscribe events feed for view data rendering based on SSE

[2017-11-26 10:03] #30 closed

[2017-11-26 10:09] lumir-mrkva commented on #173
@derPuntigamer we're no longer filtering out public repositories from docker user repository searches (second tab), there should be docker api more up to date.

[2017-11-27 23:14] rsoika opened #184 "Tutorial for a Lightweight Docker Swarm Environment"
Hi,
I have written a short tutorial how to setup a Lightweight Docker Swarm Environment with swarmpit.io as the Front-End UI.
https://ralph.blog.imixs.com/2017/11/27/lightweight-docker-swarm-environment/
I don't know, but maybe it can help in some way....

At this point I would like to express my gratitude for your great work! Thanks a lot!

[2017-11-28 08:10] nohaapav commented on #184
@rsoika Hi Ralph, thank you very much. We we're speaking about tutorial for a long time but still busy with something so we really appreciate that. If you don't mind we will use this reference in our twitter acc & other media as well.

Cheers

[2017-11-28 08:34] rsoika commented on #184
That's ok for me. You are welcome.

Ralph

[2017-12-02 11:18] #183 closed

[2017-12-04 19:52] nohaapav opened #186 "Material & State cleanup"
- [x] cleanup & prepare material for 1.0 release
- [x] cleanup global state
- [x] unify rendering
- [x] remove controller -> data will be fetched by component on init

[2017-12-06 11:48] martinfibiger opened #187 "Problem with longer logs"
After using swarmpit for longer time, logs are getting long and are not shown correctly. Way to reproduce: choose long running microservice, press button [log]. Log content is shown but the end is missing. Sometimes you get further log after a while sometimes not. Sometimes chrome crashes.

[2017-12-07 09:30] nohaapav opened #188 "Add possibility to setup log properties in swarmpit"
e.g. rollingPolicy (size) etc ..

[2017-12-07 09:34] nohaapav commented on #187
This happens due to huge json-file that even docker was unable to fetch .. We need to be able to setup logging properties e.g. (rolling policy for json-file) and pre-fill some default value to prevent this.

Closing in favour of https://github.com/swarmpit/swarmpit/issues/188

[2017-12-07 09:34] #187 closed

[2017-12-08 00:53] lumir-mrkva opened #189 "redirect to linked page after login"

[2017-12-10 18:47] nohaapav commented on #107
@lumir-mrkva Where to submit ?

- email
- github

[2017-12-11 09:25] #186 closed

[2017-12-11 11:51] #113 closed

[2017-12-11 15:19] nohaapav opened #192 "Setup single/cluster couch db"
Currently we skip single/cluster node setup and therefore we're getting lot of annoying logs in swarmpit_db service which may looks as potential bug for end users even if these are completely fine.

Similar issue can be found here:
https://github.com/apache/couchdb-docker/issues/18

[2017-12-12 15:54] a1exanderjung commented on #130
Would love to see this feature so as to deploy to a Raspberry Pi swarm/cluster.

[2017-12-25 15:22] #157 closed

[2017-12-25 22:04] #105 closed

[2017-12-27 14:33] #115 closed

[2018-01-02 13:54] #180 closed

[2018-01-03 09:19] #162 closed

[2018-01-03 09:25] nohaapav commented on #107
Closing as there is no error page since 1.3

[2018-01-03 09:25] #107 closed

[2018-01-03 09:31] nohaapav commented on #173
I've deleted my private repo from dockerhub & since then there is no record in search. Working as expected. Closing.

[2018-01-03 09:31] #173 closed

[2018-01-04 12:42] nohaapav opened #197 "Finer internal repository management"
We should drop current distribution logic and replace it with more finer logic.

We don't need to store distribution data in labels, we can easily find suitable distribution based on repository info.

[2018-01-09 12:07] nohaapav opened #198 "FE loading forever if resource fetching fails"
In case that resource fetching failed -> cluster issues, wrong lb etc and BE resource return 400+ code FE is showing loading forever. (Browser must be refreshed)

**Steps to reproduce the issue:**
1. Simulate 400+ error on e.g. service info
2. Click service info

**What happens:**

Loading forever

**What should happen:**

Error message & loading stop

**Additional information (e.g. docker version

[2018-01-10 16:24] nohaapav commented on #188
Already there .. Lol .. Closing then ..

[2018-01-10 16:24] #188 closed

[2018-01-10 22:18] #198 closed

[2018-01-11 08:49] rossbachp opened #199 "swarmpit_event-collector using api 1.36 which is too new if 17.12.0 used"
---------------------------------------------------
BUG REPORT
---------------------------------------------------

Start a local docker dind 17.12 cluster at current docker-for-mac (17.12.0-ce-mac45 (21669))

see my github project https://github.com/bee42/traefik-with-docker

**Steps to reproduce the issue:**

[code]

**What happens:**
After start current swarmpit with stack deploy the event-coll

[2018-01-11 11:27] nohaapav commented on #199
@rossbachp Hi .. Event-collector is using by default [docker client](https://github.com/moby/moby/blob/master/client/client.go) so you can try to set env variable:

DOCKER_API_VERSION=1.35

to make it work.
Meanwhile i need to check why 1.36 client is used.

[2018-01-11 11:38] rossbachp commented on #199
Works!

I change the docker-compose service definition.

[code]

Many thanks,
Peter

[2018-01-12 14:20] prokopsimek opened #200 "Missing name validation error text"
**Description**

Missing name validation error text while creating new service.

**Steps to reproduce the issue:**
1. Open "services/new" form
2. set service name e.g. "app manager"
3. set other attributes
4. Save new service

**What happens:**
Error is thrown and visible on the bottom of the page "Service creation failed. Reason:"

**What should happen:**
Display "Name invalid - do not use spaces

[2018-01-12 14:46] nohaapav commented on #200
Not swarmpit issue .. Closing ..

[2018-01-12 14:46] #200 closed

[2018-01-17 17:28] mpsmith opened #201 "When attempting to edit a service that has an image pulled from a private dockerhub repo, the UI kicks back to the login screen"
---------------------------------------------------
BUG REPORT
---------------------------------------------------

**Description**

When I attempt to edit a service that is using an image from our private Dockerhub repo, the web UI kicks back to the login screen.

When I edit a service that uses a publicly available image on Dockerhub, the UI behaves as expected and allows editing the service.

I

[2018-01-17 18:31] nohaapav commented on #201
@mpsmith Hi, i will push fix tomorrow. We did kind a huge refactoring in 1.3 on router and swarmpit 401 & 403 ex are redirecting automatically to custom page. Anyway redirect should be skipped if client exception is thrown (in this case registry client).

Tags in this case cannot be prefetched because service is not created via swarmpit (unknown distribution). This will be improved once https://gi

[2018-01-18 11:31] nohaapav commented on #201
@mpsmith Could you check now .. it should be fixed! .. Just pull new 1.3 image ;)

[2018-01-18 17:25] johnjelinek commented on #201
![image](https://user-images.githubusercontent.com/873610/35111960-388d0d50-fc42-11e7-8d24-ddea595ec9b9.png)
It doesn't redirect you to the login, but it still doesn't allow me to edit services based on private images.

[2018-01-18 18:03] nohaapav commented on #201
@johnjelinek strange, works for me. Did you clean browser cache ?

![image](https://user-images.githubusercontent.com/4179104/35113576-31929d86-fc82-11e7-82a6-cd5674ea3d43.png)

[2018-01-18 21:17] johnjelinek commented on #201
I was running in an incognito window when I took that gif. So cache has been cleared.

[2018-01-18 23:02] nohaapav commented on #201
As i mentioned in previous comment could you check if GET `/services/{id}` and GET `/services/{id}/networks` end up with `200` ?

It looks like some BE query failed in your case.

[2018-01-20 14:16] #197 closed

[2018-01-21 19:54] nohaapav commented on #201
Should be fixed in https://github.com/swarmpit/swarmpit/releases/tag/1.3.1

[2018-01-21 19:54] #201 closed

[2018-01-21 19:55] nohaapav commented on #161
Should be improved in https://github.com/swarmpit/swarmpit/releases/tag/1.3.1
We're using now repo digest, same as docker.

[2018-01-21 19:55] #161 closed

[2018-01-23 05:54] mpsmith commented on #201
@nohaapav Just tried 1.3.1    It allows me into the edit page of the service, but when you change something (i.e. - replicas), and click save, the following error pops on the bottom of the browser: "Service update failed. Reason: authentication required".      The POST to /services/xyz is returning a 401.

cc: @johnjelinek

[2018-01-25 16:26] mpsmith commented on #201
Do you need anything else from us to help reproduce this?   Can we re-open the issue?

[2018-01-25 16:29] mpsmith commented on #201
Or we can open a new issue if that is preferred (?)

[2018-02-02 07:13] masterxavierfox commented on #201
Im having the same issue, when i try to edit a service that is from a private repo on docker hub specifically the replica count i get the following error "Service update failed. Reason: authentication required"

[2018-02-02 21:45] mpsmith opened #203 "Unable to save change to service based on image from private Dockerhub repo."
---------------------------------------------------
BUG REPORT
---------------------------------------------------

**Description**

When I attempt to edit and save a service that is using an image from a private Dockerhub repo, the web UI displays an error "Service update failed. Reason: authentication required".

**Steps to reproduce the issue:**
1.  Deploy Swarmpit 1.3 to a swarm
2.  Login to s

[2018-02-02 21:45] mpsmith commented on #201
I created a new issue for the saving of the service here:  https://github.com/swarmpit/swarmpit/issues/203

[2018-02-02 21:50] johnjelinek commented on #203
Looks like https://github.com/swarmpit/swarmpit/pull/152 may be a stopgap to fix this.

[2018-02-02 23:09] nohaapav commented on #203
@mpsmith First off all please update to swarmpit 1.3.1. There has been different repository management introduced fixing couple of issues.

Regarding issue: This is not bug but wanted change/behaviour.

Please check if user with user role has access to dockerhub private account. Even direct (created directly by user) or shared (created by any swarmpit user with public flag).

@johnjelinek #152 is

[2018-02-02 23:15] nohaapav commented on #201
@mpsmith I answered in new issue. Next time please mention directly issue assignee with @ so i can answer in no time ;)

[2018-02-02 23:47] johnjelinek opened #204 "Docker failed: Permission denied"
---------------------------------------------------
BUG REPORT
---------------------------------------------------

**Description**

[code]

**Steps to reproduce the issue:**
1. `docker stack deploy -c ./docker-compose.yml swarmpit`

**What happens:**

I see some errors and a lot of `500`s in the browser.

**What should happen:**

no errors

**Additional information (e.g. docker version, cluster s

[2018-02-02 23:53] johnjelinek commented on #204
Ahh, seems that my issue was that I was running as a non-root user.

[2018-02-02 23:53] #204 closed

[2018-02-03 00:30] johnjelinek commented on #203
i was able to reproduce this issue in `1.3.1`. The fix was to delete the `swarmpit_db` data volume and redeploy the service. This started working after scorched earth.

[2018-02-03 09:09] nohaapav commented on #203
I see where the problem was in your case @johnjelinek.

I forgot to include dockerhub distribution migration script within https://github.com/swarmpit/swarmpit/issues/197.

In new dockerhub dist. management we are matching repository account based on namespaces and these are not part of dockerhub distribution record if version < 1.3.1. If you delete dockerhub account and create new one namespaces

[2018-02-03 09:46] nohaapav commented on #203
@mpsmith Please try to delete dockerhub distribution and recreate if you matching correct distribution access already and getting 401. This should make it work as described above.

[2018-02-04 20:39] Matts opened #205 "Container & Host Port wrong title"
**Description**

It seems that the "Container port" and  "Host port" seem to be the wrong way around. I was playing around with the letsencrypt reverse proxy companion (together with nginx proxy) and had to create [this issue](https://github.com/jwilder/nginx-proxy/issues/1056) because I thought it was their fault, but after playing around I set the "Container Port" to the port I was expecting in

[2018-02-05 08:46] nohaapav commented on #205
Work completely fine. Host port is exposed public port(node port). Container port is port exposed within container. It might look reversed if you compare with docker cli (exposed->container) but still working ok.

One note regarding your proxy issue. It is much better to put proxy container within same overlay network as swarmpit so you can reach swarmpit directly on port 8080 without port exposin

[2018-02-05 08:46] #205 closed

[2018-02-06 16:50] mpsmith commented on #203
@nohaapav This worked for us.  Thanks!

[2018-02-08 11:36] nohaapav commented on #203
Good to hear. Closing then.

[2018-02-08 11:36] #203 closed

[2018-02-13 20:55] johnjelinek opened #206 "Service Update: Empty Host Port returns NullPointerException"
---------------------------------------------------
BUG REPORT
---------------------------------------------------

**Description**

There are some services that were created without swarmpit and when I go to update them, I see a 500 status code and the message "Service update failed. Reason:"

HTTP response body is:
[code]

**Steps to reproduce the issue:**
1. Login to swarmpit as admin
2. Browse

[2018-02-13 22:54] nohaapav commented on #206
@johnjelinek Could you provide some more info e.g. command/compose of how services were created. Not able to reproduce the issue.

[2018-02-19 02:46] robertkeizer commented on #206
I'm seeing the same thing. Screenshots for a bit more context.

Docker version `17.12.0-ce`.

Running swarmpit master as of this time; commit `473144baf1549b98b170e80836b3406458f64835`

<img width="1063" alt="screen shot 2018-02-18 at 8 45 21 pm" src="https://user-images.githubusercontent.com/339303/36360782-97cba25a-14ec-11e8-8044-efa2d8e93100.png">
<img width="1376" alt="screen shot 2018-02-18 a

[2018-02-19 09:01] nohaapav commented on #206
@robertkeizer Could you provide services inspect. Looks like some mapping issue but can't say exactly  as don't see context.

[2018-02-19 18:46] nohaapav commented on #39
Some progress:

https://www.screencast.com/t/VyeWyQkU

[2018-02-19 19:02] johnjelinek commented on #206
@nohaapav: services were originally created from the CLI, `docker service create ...`

[2018-02-19 21:59] johnjelinek commented on #206
I upgraded to docker-ce `18.02`, and was able to reproduce this:

service created like this:
[code]

Here's the request equivalent the browser makes:

[code]
and response `500 Internal Server Error`:
[code]

[2018-02-19 22:11] johnjelinek commented on #206
ah, looks like `"hostPort": null` is causing the issue here.

[2018-02-19 22:18] johnjelinek commented on #206
Here I see the service has a host port:
[code]

[2018-02-19 22:23] johnjelinek commented on #206
This command is used to update the host port:
[code]

[2018-02-19 22:26] johnjelinek commented on #206
I've confirmed that if I add a `host port` in the UI, it's able to save ... seems like maybe some UI-level validation could help there if it can't figure it out from querying the docker engine.

[2018-02-20 12:20] nohaapav commented on #206
@johnjelinek Thanks for debugging. I've check the issue bit closer and the problem with npe is cause unfortunately by wrong endpoint mapping. We should map ports from:

`[:Endpoint :Ports] `
instead of
`[:Spec :EndpointSpec :Ports]`

In case there is no published port, nil is returned which cause the issue. Once mapping is fixed there will be no item in ports coll if port not published so no NPE w

[2018-02-20 13:35] nohaapav commented on #199
We should setup current host engine api version based on version api same as swarmpit does.

[2018-02-20 13:40] nohaapav commented on #104
@lumir-mrkva What kind of visualization you suggest ? Some fancy graphs of how services are connected (similar to weave scope) or something else ?

[2018-02-20 16:29] nohaapav commented on #206
@johnjelinek should be fixed with https://github.com/swarmpit/swarmpit/commit/a9fecda57cde7f4ab85a11e623be34c4f4dba3e7

Please check.

[2018-02-20 22:34] johnjelinek commented on #206
ok, so, this change allows me to update the service without error, but it doesn't hold onto the original state. If I set the replica set back to 1, the original port configuration settings are missing.

[2018-02-21 10:23] nohaapav commented on #206
@johnjelinek i need to to check how docker handle this .. because even if i omit PublishPort while calling service update API, some random publish port is exposed (e.g. 30010). That's the reason why i'm removing port item from spec if there is no PublishPort associated on update.

Is there any reason to have just publish-add within the service without exposed port anyway? You can reach service by

[2018-02-23 15:57] matthiasbaldi commented on #184
Thank you for the good manual, I miss one important point.
For a productive env, what for security and protection mechanisms should we use.
Because over a reverse proxy you can protect very well the pages and containers but the swarmpit UI is exposed to the internet.
As I know swarmpit does not support a two factor auth, so it have to be behind the proxy to allow an additional authentication.
I'm

[2018-02-23 16:30] rsoika commented on #184
hm..., the build-in security of swarmpit was fine for me so far. Do you have any concerns about the login mechanism of swarmpit?
Yes, it would be possible to hide swarmpit behind the traefik service. But why would this be necessary?

In the meantime I have published the ideas of the tutorial in a conceptual project on github: https://github.com/imixs/imixs-cloud
There I have added a separate page

[2018-02-24 17:56] matthiasbaldi commented on #184
No I don't have seen a specific issue or problem. I just asked because of the possible risk without a two factor auth and the direct access over the net (brute forcing etc).
When I have time I will push you a pull request with improvements in my Setup.

[2018-02-26 09:41] nohaapav commented on #184
As Ralph mentioned you should have swarmpit behind the proxy. That way you can protect app from bruteforce. Swarmpit is authenticated against BE server once some data are fetched (jwt).

Basically layout itself is fetching some data from BE so all pages using layout are secured based on statement above only by using layout. Also every api call is secured. You should be able to see only single page

[2018-02-26 10:49] matthiasbaldi commented on #184
Yes that "issue" because of the UI (40x errors) I have seen in the development console of the browser.
But I think it is easy to fix over the UI routing managment.

The swarmpit proxy rules:
Yes I agree with you and @rsoika.
But what is the correct way to do that? Because the proxy is in an other Docker network as the Swarmpit is and I think this is the correct way. But do we start now an other tr

[2018-02-26 11:46] nohaapav commented on #184
Well we're having proxy and swarmpit in same network. You need to have swarmpit in same network as docker-flow/traefik in case you want to expose swarmpit over proxy.

[2018-02-28 11:24] nohaapav commented on #130
First we need to optimize swarmpit in matter of memory usage. Also some JVM customization needs to be done.

@lumir-mrkva will take a look :)

[2018-03-01 11:24] nohaapav opened #207 "Add progress btn for create forms instead page progress loader & cleanup local state"

[2018-03-04 16:58] edolele opened #208 "swarmpit seems not running"
I deployed the swampit using the command:
sudo docker stack deploy -c swarmpit/docker-compose.yml swarmpit
shell output this
[code]

but I got no UI from http://0.0.0.0:888 or http://localhost:888

I tryed
`sudo docker stack ps swarmpit
and got result

[code]

But the docker ps got nothing

[2018-03-04 19:42] nohaapav commented on #208
@edolele This does not look like swarmpit issue so far. First of all current state of services in stack should be running but is preparing therefore u can't see ui -> swarmpit is not even running .. Please check your docker configuration.

[2018-03-04 19:44] #208 closed

[2018-03-07 11:50] #207 closed

[2018-03-08 12:20] #39 closed

[2018-03-09 10:52] nohaapav commented on #206
@johnjelinek I'm going to close this issue because of inactivity. NPE is not an issue anymore, we can discuss in separate thread publish state change and possible issues regarding that if any.

[2018-03-09 10:52] #206 closed

[2018-03-11 08:15] sarkistlt opened #211 "Enable autoredeploy for existing service"
first, thanks for really cool UI, exactly what I was looking for.
Question is, I can see that if I will start new service with swarmpit it will allow me to set autoredeploy, but I can't do that for already running services that I have in my swarm.
any plans to support autoredeploy for existed services?

[2018-03-11 08:49] sarkistlt opened #212 "Add support for service update config order"
missing support for 'order: start-first', would be great to have

[2018-03-11 10:03] nohaapav commented on #211
@sarkistlt Hi, yes we can enable autoredeploys for existing services already. We had to finalize this issue before enabling https://github.com/swarmpit/swarmpit/issues/197 but now there is no showstopper.

[2018-03-11 16:45] sarkistlt commented on #211
I still can't enable it for services that was deployed from docker-compose.yml, or this fix is not in latest image yet?

[2018-03-11 19:29] nohaapav commented on #211
not done yet, see [status](https://github.com/swarmpit/swarmpit/projects/8) . Will add support probably during this week ..

[2018-03-22 21:32] rsoika opened #213 "redeploy of service keeps deprecated tasks running"
I am not sure if this is a bug or expected behavior. But I have the situation that after redploying taks from the UI I got multiple still running tasks.

**Steps to reproduce the issue:**
1. I deploy from cli a stack containing Wordpress+MySQL
2. swarmpit shows the two services and also two tasks.
3. now I open the mysql service from the swarmpit ui and click on 'redeploy'
4. a new task is started

[2018-03-23 16:04] nohaapav commented on #213
@rsoika Hi Ralph, we're using task api so there shouldn't be a problem on our side. We also saw similar issue in our clusters so probably some swarm inconsistency. If you set replicas to 0 and back i bet that task will be removed.

[2018-03-23 16:50] rsoika commented on #213
Thanks for your answer. Yes I also think so and I will try to figure out how to handle this issue best.

[2018-03-23 16:50] #213 closed

[2018-03-23 17:46] abellion commented on #62
Would be awesome !

[2018-03-25 11:26] abellion opened #214 "[UI] Side navigation is cropped"
Thank you so much for swarmpit !

**Description**

The "Users" tab under "Admin" in the side navigation doesn't appear on my 13" screen. When zooming out, it works.

![image](https://user-images.githubusercontent.com/9916488/37874461-e88c1c16-302f-11e8-9629-a21b9ca37153.png)

**Additional information (e.g. docker version, cluster setup,...):**

- Swarmpit `1.3.1`
- Tested on Chrome and Firefox

[2018-03-25 14:11] nohaapav commented on #214
@abellion Thanks for reporting .. Some CSS issue most probably. Will take a look ;)

[2018-03-25 15:24] BatuhanK opened #215 "Generating token without expiration date"
---------------------------------------------------
FEATURE REQUEST
---------------------------------------------------

We want to use `/services` and `/services/:serviceId` endpoint programatically for generating and manipulating services from our backend, right now we are using token which generated via `/login` endpoint but it has expiration date. Are there any way to generate token without ex

[2018-03-27 14:20] nohaapav commented on #215
@BatuhanK Hi, we are thinking about some default swarmpit settings page so maybe we can include token expiration as well.

[2018-03-29 21:55] NotSpecial opened #216 "Support of volume driver options"
I am currently playing around with swarmpit in the docker playground and first of all:
It's looking amazing, this is the kind of UI for docker swarm I was looking for! Thank you for your work :)

Docker allows to specify various [driver options for volumes](https://docs.docker.com/engine/reference/commandline/volume_create/#usage) and unfortunately, I noticed that it is not possible to specify the

[2018-03-30 07:14] nohaapav opened #217 "Add volume driver options"

[2018-03-30 07:14] nohaapav commented on #216
@NotSpecial Hi, yes for sure :) Will add support asap. Please see progress in following future req:

https://github.com/swarmpit/swarmpit/issues/217

[2018-03-30 07:14] #216 closed

[2018-04-02 09:53] rsoika opened #218 "UI support for stacks"
---------------------------------------------------
FEATURE REQUEST
---------------------------------------------------

I have the following suggestion: I typically start my services as a stack from the docker swarm CLI like:

`docker stack deploy -c apps/wordpress/docker-compose.yml wordpress-demo`

In this case a mysql service and a wordpress service is started. They are listed in swarmpit as s

[2018-04-02 12:18] mpazhani commented on #137
How to access URL from remote machines ?

[2018-04-02 14:11] nohaapav commented on #218
@rsoika Hi Ralph:

Are u using latest build with stack API ?

Basically `docker stack ls` is stack list:

<img width="1636" alt="screen shot 2018-04-02 at 4 02 53 pm" src="https://user-images.githubusercontent.com/4179104/38199080-9c021588-368f-11e8-9911-cc3630388db9.png">

To see stack resources you can just click on stack e.g.:

<img width="1634" alt="screen shot 2018-04-02 at 4 06 02 pm" src="h

[2018-04-02 14:52] rsoika commented on #218
Thanks a lot for your answer. This sounds very promising.I run swarmpit in my docker-swarm productive environment. I tried the latest image form docker hub, but it does not work (only blank page, no java script errors). I switched back to latest stable 1.3.1.

So I will have to wait until 1.4 comes out and than I will test it. And yes, I am in deed  not absolutely sure if I have some inconsistency

[2018-04-02 15:37] nohaapav commented on #218
@rsoika i see that there were some dependency updates yesterday. That probably caused the issue. Will fix it asap.

[2018-04-02 15:37] #218 closed

[2018-04-02 16:50] #126 closed

[2018-04-02 16:51] #129 closed

[2018-04-02 17:57] nohaapav commented on #218
@rsoika Btw latest should be ok now. Please check ;)

[2018-04-02 21:31] rsoika commented on #218
@nohaapav Ok the 'latest' image on docker hub runs now perfect.
And the new View 'Stacks' is really a strong improvement and I find it very helpfull.

The feature toTo edit a docker-compose.yml definition is very cool. But in a productive environment my concept is to store all docker-compose files in Git to have a central code repository. I described this also in my imixs-cloud project https://git

[2018-04-06 07:34] nohaapav commented on #158
Leaving as it is. User can create deployer acc for such cases. We will add more probably some deployer role later on.

[2018-04-06 07:34] #158 closed

[2018-04-06 11:15] #212 closed

[2018-04-06 11:29] #211 closed

[2018-04-06 11:33] #199 closed

[2018-04-06 16:33] sarkistlt opened #220 "parallelism, order v1.4"
hi, I just saw that for all my deployments that's are `start-first`, it shows stop-first, it does show correct value only if I'm deploying or updating directly from swarmpit.

[2018-04-06 16:36] sarkistlt commented on #220
actually confused `Update Config` with  `parallelism`, sorry

[2018-04-06 16:36] #220 closed

[2018-04-09 02:25] C0reFast opened #221 "Port publish mode support"
---------------------------------------------------
FEATURE REQUEST
---------------------------------------------------

currently service port published through ingress mode by default,could add a option to change the publish mode to host?,just like the portainer.

[2018-04-09 12:46] abellion opened #222 "Secret creation is broken"
In `master`, when clicking the "New Secret" button the UI gets stuck.

![image](https://user-images.githubusercontent.com/9916488/38498464-ccfe691e-3c04-11e8-8e1c-0e367ff0fec8.png)

[2018-04-09 13:38] rarous opened #223 "Add retry policy for timeouted async operations"
**Description**

**Steps to reproduce the issue:**
1.
2.
3.

**What happens:**

**What should happen:**

**Additional information (e.g. docker version, cluster setup,...):**

[2018-04-09 15:57] #222 closed

[2018-04-09 16:27] #189 closed

[2018-04-10 10:34] jnovack commented on #104
Use Case:

Right now, I need to hunt to figure out which networks a single stack uses.

[code]

This is not visualized anywhere on a single page.  I need to click on 3 different pages (each service) to see the network of each.  The stack page only shows the network the stack deployed (`backend`) because `frontend` was external.

I would expect to see the above graph (or table/list even) on the Sta

[2018-04-10 11:06] jnovack commented on #42
Minimum effective permissions (suggestion only, this is a discussion) log:

* Any Create action.
* Any Modify action.
* Any Secret viewing.

[code]

[2018-04-10 11:08] jnovack commented on #82
'Enter' does not work this way on Github.

[2018-04-10 11:32] BatuhanK opened #224 "Service update hangs"
---------------------------------------------------
BUG REPORT
---------------------------------------------------
**What happens:**
When we update a service, sometimes it hangs on updating state.
<img width="711" alt="screen shot 2018-04-10 at 14 29 21" src="https://user-images.githubusercontent.com/4688083/38554554-b08c48ce-3ccb-11e8-9449-79f7f65b5c57.png">

<img width="803" alt="screen shot 201

[2018-04-10 11:35] nohaapav commented on #224
@BatuhanK well it hangs in engine .. so swarmpit is showing right value .. R u sure that its not your cluster issue ?

[2018-04-10 11:44] BatuhanK commented on #224
Hmmm, yeah it might be a engine problem @nohaapav . How can I check if it's related with swarmpit or engine?

[2018-04-10 13:42] nohaapav commented on #224
@BatuhanK basically your screen is proof itself :) See:

  "UpdateStatus": {
            "State": "updating",
            "StartedAt": "2018-04-10T11:18:26.593195421Z",
            "Message": "update in progress"
        }

[2018-04-11 18:57] #224 closed

[2018-04-13 14:37] nohaapav opened #225 "Upgrade event-collector to fully fledged agent"
That way we can collect more info from single engine and aggregate to most adequate result for users.

[2018-04-13 14:37] nohaapav commented on #93
Depends on https://github.com/swarmpit/swarmpit/issues/225

[2018-04-13 14:59] lumir-mrkva opened #226 "Generate stackfile dynamically from swarm state"
transform docker api json to compose file compatible yaml

[2018-04-13 15:10] nohaapav opened #227 "Update stack based on service change"

[2018-04-14 08:46] nohaapav commented on #104
@jnovack well u can see which network is used by stack on stack info page as stack were added since 1.4

[2018-04-14 14:58] jnovack commented on #104
I'm sorry, I re-read that and I sounded boss, complain-y and ungrateful.  I didn't mean to sound any of those things. :/

I was just trying to spark some creative uses for the visualization.

[2018-04-16 08:12] nohaapav commented on #104
@jnovack Everything is OK ;) You're right that we should visualize also networks which are used by services in stack but are created outside .. Sound like very good idea ..

[2018-04-16 13:05] lumir-mrkva commented on #227
duplicate with #226 ? :)

[2018-04-16 13:35] nohaapav commented on #227
successor of https://github.com/swarmpit/swarmpit/issues/226

[2018-04-17 01:20] lumir-mrkva opened #228 "fix stack file registry login problem"
improve parsing of compose file to correctly find images

[2018-04-19 08:59] #228 closed

[2018-04-23 20:05] thesobercoder commented on #163
This would actually make things really easier. As an example I was struggling to deploy Redis cluster on docker swarm and couldn't make it to work and I also know that probably this would take me a light year before I figure it out since I'm really new to docker and am trying to prepare a use case to present to my boss. Even configuring a SQL Server cluster or MySQL cluster template would make it

[2018-04-23 20:07] thesobercoder commented on #163
Probably another idea would be have kind of like a drag and drop thing to create a larger service from various individual smaller services.

[2018-04-24 11:52] lumir-mrkva opened #230 "show config value"
docker supports this in field `Data` https://docs.docker.com/engine/api/v1.37/#operation/ConfigInspect

[2018-04-24 12:51] nohaapav commented on #215
@BatuhanK We decided to add this functionality in user drop down menu next to change password form. That way you can generate and revoke custom user tokens and set validity based on your needs or leave empty for everlasting. How does that sounds to you ?

[2018-04-25 10:29] BatuhanK commented on #215
Sounds perfect! Thanks @nohaapav

[2018-04-26 09:07] abellion opened #231 "Terminal access from UI"
Accessing tasks terminal would be very helpful in a number of use case.

As a former Docker Cloud user, this feature really miss us.

Thanks again for swarmpit !

[2018-04-26 09:48] nohaapav commented on #231
@abellion Closing in favour of https://github.com/swarmpit/swarmpit/issues/93
First we need to refactor agent, then we will be able to implement this feature.

[2018-04-26 09:48] #231 closed

[2018-04-28 21:48] laurenskling opened #232 "Notifications"
Great tool guys! I started using it since Docker Cloud got shutdown.

One feature I really would like to see is the notifications. It would be great if I could be updated if one of my containers fail. Would this be possible in the future?

[2018-04-29 09:37] rsoika opened #233 "Feature Request - Managed Volumes"
Hi, I want to share my thoughts about a new idea/feature request concerning docker volumes. As you maybe know I am writing this open concept about a [lightweight docker swarm environment](https://github.com/imixs/imixs-cloud) where swarmpit.io is the central building block. Thanks for your great work at this point!

**The Problem:**
One problem that is often discussed in the Docker community is th

[2018-04-29 13:48] nohaapav commented on #232
@laurenskling Hi sure. Actually good idea.

[2018-04-29 13:54] nohaapav commented on #233
@rsoika Hi Ralph, well it's doable but first we need to have fully fledged agent on each node to be able to do such changes(moving volumes). There is already [issue](https://github.com/swarmpit/swarmpit/issues/225) opened that i will be working on in near future as we need this feature in order to finalize other tasks in queue as well.

Anyway interesting idea, i will check with team possible impl

[2018-04-30 14:23] lumir-mrkva opened #234 "show external resources in stacks"
add external resources (networks, volumes, secrets...) that are linked to stack view

currently, there are just stack resources shown

[2018-04-30 14:27] lumir-mrkva commented on #104
@jnovack this feature is not related to your proposal, informations about external stack resources will be added in #234

[2018-04-30 21:31] #234 closed

[2018-05-02 22:40] #226 closed

[2018-05-10 19:31] mhermosi opened #236 "AWS Elastic Container Repository support"
---------------------------------------------------
FEATURE REQUEST
---------------------------------------------------

Hi Folks,

AWS ECR (Elastic Container Registry) has a way to generate a 12 hour password which outputs a docker login command on Unix environment. so basically based on your AWS parameter KEY, SECRET and REGION it generates a dynamic docker login command. This command is necessa

[2018-05-11 12:06] nohaapav commented on #236
@mhermosi Hi Martin, actually registry API does support basic auth with fallback in case that request fails with 401 and header Www-Authenticate is provided in response.

Fallback then use token api and based on auth token call registry api again. See registry token auth: https://docs.docker.com/registry/spec/auth/token/#authorization-server-endpoint-descriptions

This is standardized way of how r

[2018-05-11 13:54] abellion opened #237 "[Stacks] Error: No such image xxx/yyy:zz"
**Description**

When deploying a stack, these tasks are in `rejected` state with the following error :

When hitting "Redeploy" button from the UI, everything works.

**Steps to reproduce the issue:**
1. Connect the UI to a DockerHub registry
2. Deploy a stack with an image from this registry

**What happens:**
The tasks cannot find the image.

**What should happen:**
They should be able to retri

[2018-05-11 14:54] mhermosi commented on #236
mmm actually the problem with AWS ECR is not how docker login is performed. is how the dynamic password is obtained. the aws client basically generates a string "docker login -u AWS -p A_very_long_dynamic_password" https://ACCOUNT_ID.dkr.ecr.AWS_REGION.amazonaws.com", that is the reason I added the link related with credential helper.. it seems to be a way to use a credential helper for software i

[2018-05-11 14:55] mhermosi commented on #236
How I picture this, is basically storing some AWS necessary information on swarmpit to let the password generation AWS_KEY, AWS_SECRET and AWS_REGION

[2018-05-11 18:48] abellion commented on #237
It seems yeah.

Adding the `--with-registry-auth ` flag should do the trick as stated there : https://github.com/moby/moby/issues/31534#issuecomment-304642411 and confirmed on https://github.com/moby/moby/issues/31534#issuecomment-314555207 for latest version.

I don't know if this flag can be given through the API but I guess it can. Looking forward for your thoughts. Thanks !

[2018-05-12 14:35] nohaapav commented on #237
Well this flag is always used so it is not an issue in this case ..

[2018-05-12 15:16] abellion commented on #237
That's weird because everything works well from the CLI but not in swarmpit.

Have you been able to reproduce the issue ?

I don't know clojure but I guess stack are deployed from this function : https://github.com/swarmpit/swarmpit/blob/bdcfae4c173f4d3924363d97ae4f35efebcd13a3/src/clj/swarmpit/docker/engine/cli.clj#L23

I see that the flag is given at the end, maybe that's the issue ? Do you thin

[2018-05-13 14:33] nohaapav commented on #237
@abellion Well easiest way to test if order is causing the problem is to run deployment with following command from cli:

[code]

Btw are u using public images or private ?

[2018-05-13 15:38] abellion commented on #237
Just tested, order doesn't seem to be the problem.

This is private images.

[2018-05-14 07:45] nohaapav commented on #237
@abellion ok .. in that case did you add distribution user (dockerhub | registry) in swarmpit ?

[2018-05-14 08:18] abellion commented on #237
Yes from dockerhub !

[2018-05-14 09:12] nohaapav commented on #237
btw is it possible to provide your stack ? i'm mainly interesting about images of services being deployed ..

[2018-05-15 07:40] nohaapav commented on #237
Will try to reproduce your issue. In our current clusters 20/15/15 it's working just fine and we're using private registry and dockerhub as well. We're getting this error only when nodes are full so docker can't deploy new task. But still even if task end up with such error new one is spawned on node which has free resources.

[2018-05-15 10:25] nohaapav commented on #236
@mhermosi I will create some AWS registry instance in order to support this as well.

[2018-05-15 15:49] mhermosi commented on #236
Great Thanks Pavol, I'm still reading on my side too

[2018-05-16 09:51] abellion commented on #237
Could it be because deployment doesn't happen on manager node ?

I've noticed that some data are missing concerning worker nodes (eg. volumes or networks IPs).

[2018-05-17 14:21] rarous opened #238 "Support CMD/command in Services"

[2018-05-17 15:09] nohaapav commented on #237
@abellion well swarmpit should be running on manager node so the stack command is triggered there unless you changed swarmpit_app placement.

[2018-05-17 15:34] #238 closed

[2018-05-17 15:39] lumir-mrkva commented on #238
basic support implemented, no advanced parsing yet

[2018-05-17 16:13] abellion commented on #237
Oh sorry I wasn't clear. Indeed Swarmpit runs on the manager node, but services inside stack don't target the manager (but workers).

[2018-05-18 01:21] ben-motiv opened #239 "Docker organisation private repository - authentication failure"
**Description**

When trying to start a service from an image hosted in a docker hub organisation private repository I get an authentication required error.

**Steps to reproduce the issue:**
1. Add dockerhub account that has permissions on the organisation
2. Create a new service - repositories on the organisation will be selectable under "search private"
3. Enter a service name, click "create" -

[2018-05-19 00:01] ben-motiv commented on #239
This is happening on all private repositories for me on dockerhub - personal or organization. Looks to be a duplicate of #203 however deletion of the swarmpit db volume, or removal and re-adding the dockerhub account has made no difference. Have tried 1.3.1, 1.4 and latest master branch.

[2018-05-20 21:43] rarous commented on #237
@nohaapav I have the same issue on `lates`.  Redeploy workaround works, but it is really annoying.

[2018-05-22 15:20] goncalo-oliveira opened #240 "Create service from private repository: manifest unknown"
**Description**

I've just installed a clean stack and tried to create a service with an image from a private repository. The service promptly replies with the message "".

**Steps to reproduce the issue:**
1. Add a private repository account (https)
2. Create a new service with an image from the private repository
3. Hit create

**What happens:**

I receive the error message "Service creation fai

[2018-05-22 16:20] goncalo-oliveira commented on #240
@nohaapav thanks for the quick reply. You're right, it's a registry issue. It turns out that this image doesn't have a _latest_ tag. Setting a specific tag (which exists) does the trick.

Many thanks!

[2018-05-22 16:20] #240 closed

[2018-05-22 16:36] nohaapav commented on #240
@goncalo-oliveira yes we're using latest by default if nothing is filled .. and that end up with wrong manifest .. Glad that it works for you now ..

[2018-05-23 11:55] rarous opened #241 "Support Templating driver in Configs and Secrets"
https://blog.sunekeller.dk/docker-18-03-config-and-secret-templating/

[2018-05-23 12:07] BatuhanK commented on #239
Are there any solutions for that? Adding&removing dockerhub user is not fixing the issue.
@nohaapav

[2018-05-23 12:44] nohaapav commented on #239
@BatuhanK I need more details in order to see what is happening .. Already tried swarmpit with 4 separate accounts and organizations and everything works just fine.

Are you sure that private image you're using has latest tag if left blank ? See my previous comment.

[2018-05-23 12:58] nohaapav commented on #237
@abellion Does this happens to you also just for latest tag ? Could you try please ?

[2018-05-23 13:02] nohaapav commented on #237
@abellion @rarous if you can copy/paste docker.log during deploy action that would be awesome to see why engine is complaining about that ..

[2018-05-23 13:08] nohaapav commented on #237
Also please check this thread if the problem is not related:

https://www.bountysource.com/issues/42660413-docker-stack-deploy-does-not-pull-images-from-private-registry-on-17-03-0-ce-mac1

[2018-05-23 15:07] #237 closed

[2018-05-23 15:38] BatuhanK commented on #239
@nohaapav We can't create any services using private images because it gives `Repositories fetching failed.` error.
Also if we try to edit an existing service it fails because of `/repository/tags?repository=tusla/REPO-NAME` request gives 401

[2018-05-23 16:57] abellion commented on #237
Yes I will try this week, thanks for having taken the time to look at it !

[2018-05-23 18:02] BatuhanK commented on #239
@nohaapav
[code]

[2018-05-24 07:38] nohaapav commented on #239
@BatuhanK Try this please:

```GET https://auth.docker.io/token?service=registry.docker.io&scope=repository:tusla/REPO-NAME:pull```

with req headers:

[code]

Then call:

```GET https://index.docker.io/v2/tusla/REPO-NAME/tags/list```

with given token from previous request:

[code]

[2018-05-24 10:15] BatuhanK commented on #239
@nohaapav It's not working.
GET https://index.docker.io/v2/tusla/REPO-NAME/tags/list with token gives this error.
[code]

But we didn't made any changes on this repo, why getting unauthorized errors now :/

[2018-05-24 10:22] nohaapav commented on #239
@BatuhanK Well at least we know where the problem is .. Looks like the user u are using have insufficient privileges for that repository.. Are you sure your dockerhub account setup is ok ?

I was trying the same flow for my public and organization accounts and it's working just fine..

[2018-05-24 10:26] nohaapav commented on #239
@BatuhanK TA-DA .. great to hear that ;)

[2018-05-27 11:00] #239 closed

[2018-05-29 15:21] nohaapav opened #242 "Add possibility to specify image in wizard manually"
Some registry may have limited privileges for repository listings so user can't find/select image in wizard. Therefore we should allow manual setup.

[2018-05-29 15:24] nohaapav commented on #242
Simple workaround is to use stack api.

[2018-05-29 20:22] #230 closed

[2018-05-30 11:58] #221 closed

[2018-05-30 17:38] nohaapav commented on #98
Depends on https://github.com/swarmpit/swarmpit/issues/225

[2018-05-31 09:49] nohaapav commented on #122
As name cannot be changed by service API because of:

`Service update failed. rpc error: code = Unimplemented desc = renaming services is not supported`

we agreed that stack api is the way to go.

[2018-05-31 09:49] #122 closed

[2018-05-31 12:49] nohaapav commented on #225
Ready https://github.com/swarmpit/agent

[2018-05-31 12:49] #225 closed

[2018-05-31 17:46] lumir-mrkva opened #246 "create stack from service"

[2018-06-01 08:52] abellion commented on #237
@nohaapav I can confirm it works now ! Thank you !

[2018-06-02 02:42] #246 closed

[2018-06-03 19:08] #215 closed

[2018-06-06 11:34] z-tc commented on #203
I am running version 1.5-24ec1f9, created new user, logged in as that user, removed admin user. After i try do redeploy service, i get: Service redeploy failed. authentication required. Any idea?

[2018-06-06 12:03] nohaapav commented on #203
@z-tc do you have dockerhub account defined for new user ?

[2018-06-06 12:58] z-tc commented on #203
aah, thanks, that was missing!

[2018-06-06 14:59] nohaapav commented on #203
@z-tc yeah sorry .. we're going to create swarmpit documentation once 1.5 release is done. This error is anyway from registry / dockerhub .. If there is authentication error it always means that some credentials/account info is missing. But yeah good point that error message should be more descriptive in this case.

[2018-06-06 14:59] lumir-mrkva opened #248 "show avaliable information about "non-existing" docker resource instead of simple 404"
this issues affect mainly tasks and volumes, which are unavaliable directry thru

[2018-06-06 17:42] rarous opened #249 "Add action to stop service"
I know, Swarm doesn't support it directly, but we can set `replicas: 0` and update the service. It behaves like `Stop`.

[2018-06-07 12:43] #98 closed

[2018-06-07 12:43] nohaapav commented on #98
Remove event-collector once new stack deployed -> agent used instead.

[2018-06-08 22:14] #62 closed

[2018-06-10 15:34] #227 closed

[2018-06-11 13:35] janfabian opened #253 "Status of service task not visible on my screen resolution"
**Description**

Status of service tasks is not visible nor scrollable on my 13,3-inch (2560 x 1600)
<img width="1346" alt="screen shot 2018-06-11 at 15 29 34" src="https://user-images.githubusercontent.com/98740/41234377-49efa51a-6d8c-11e8-8aec-c4ec87d038d9.png">

**Steps to reproduce the issue:**
1. create a new service
2. open the detail of the service
3. if the length of the image name, servic

[2018-06-12 11:08] plockare opened #254 "Volume name not encoded in URL"
**Description**

The volume name is not taking care of '/' character. The name should be encoded in the URL so the detail view would be accessible.

**Steps to reproduce the issue:**
1. Set volume name as `23844.s44.wedos.net/s23844`
2. Go to page `/#/volumes/23844.s44.wedos.net/s23844`

**What happens:**

404 is returned.

**What should happen:**

We should see detail of the volume.

[2018-06-12 11:11] plockare opened #255 "Config clone"
**Description**

For better user experience with dealing with configs, we should be able to clone existing config. For now we have to create new config, copy & paste data from old config, make desired changes and save.
Option to clone existing config, make desired changes and save would greatly improve process of editing configuration.

[2018-06-12 13:03] rarous commented on #255
We can support some kind of `Edit` functionality with cloning to "versioned" name (autoincrement or hash in name) with optional auto update in related stacks/services.

[2018-06-12 13:44] stowns commented on #94
Are there any details documented that explain how this will be implemented?

Wondering if this will be able to scope roles to specific service/stack names. ie) a user is only allowed to submit updates to stacks with the name 'some-stack-name' or stacks that match a regex. We have the use-case where multiple teams share the same cluster but should only be able to see and update certain stacks/servi

[2018-06-12 14:03] nohaapav commented on #94
Hii @stowns  .. this is currently under discussion :)

[2018-06-12 14:15] abellion commented on #255
Why not just adding an "Import from" dropdown when creating a config ?

This dropdown would display existing configs names, and when selecting one it would fill the text area with the chosen config's value.

It avoids having to deal with generating a config name, while giving the user the ability to tweak the value if needed. Might be simpler.

[2018-06-12 14:21] nohaapav commented on #94
Potential issues from our quick discussion with Lumir:

- Bind docker sock only allowed for admin role (User role can't edit nor create nor service that binds docker sock
- We need to scan stackfiles if resources permitted
- We need to scan service if resources permitted
- Deploy to manager nodes only allowed to admin role
- Update node allowed only for admin

... more is coming for sure

[2018-06-12 17:39] nohaapav commented on #255
@abellion well that's the idea but you can't create config with same name .. therefore version/auto increment of name is necessary ..

[2018-06-12 17:51] rarous commented on #255
The `Clone` feature is simpler case, you have to do things by hand. `Edit` is more convenient and automated thus a bit complicated.

[2018-06-15 07:44] rarous opened #256 "Mobile friendly UI"
Make UI mobile friendly PWA.

[2018-06-19 21:09] BatuhanK commented on #106
@nohaapav are they any updates on this? how can we update from 1.4 to 1.5, is there a guide?

[2018-06-19 21:10] BatuhanK commented on #249
+1

[2018-06-19 21:27] abellion commented on #106
@BatuhanK just run another `docker stack deploy -c docker-compose.yml swarmpit` taking https://github.com/swarmpit/swarmpit/blob/master/docker-compose.yml as a template ;)

[2018-06-19 21:36] BatuhanK commented on #106
@abellion will it re-use database right?

[2018-06-19 21:56] abellion commented on #106
If the stack name is the same, deployed on the same server and using the same volume name for the database, yes it will !

[2018-06-20 09:38] nohaapav commented on #106
@BatuhanK exactly as @abellion stated. But please remove event-collector service from stack manually if needed. This went deprecated. See release notes / roadmap for details.

[2018-06-20 20:55] adam-bernau opened #257 "Unable to add Google container registry"
**Description**
Hi,
When I attempt to add a Google container registry, the web UI displays an error:

 Is it possible to use Swarmpit with the Google Container registry?

**Steps to reproduce the issue:**
1. Deploy Swarmpit 1.5 to a swarm
2. Login to swarmpit as admin
3. Open Add Registry form
4. Fill it out:
- name: GCR
- url: https://eu.gcr.io
- public: no
- authentication: yes
- username: oauth

[2018-06-21 09:05] nohaapav commented on #257
@adam-bernau Hi Adam, problem is that you can't access registry on that url (https://eu.gcr.io). There is permanent redirect on some UI mask provided by google. We're using standard registry v2 API so if there is some 3rd party/cloud provider customization it won't work. For more details I need to check how google registry works internally.

We're going to support these custom cloud registries in

[2018-06-28 09:27] rubydev opened #258 "Add ability to configure how to stop service."
Please add ability to configure these options:

`--stop-grace-period` - Time to wait before force killing a container (ns\|us\|ms\|s\|m\|h)
`--stop-signal` - Signal to stop the container

[2018-06-29 15:53] Vanuan opened #259 "Feature request: copy "exec through ssh" into clipboard"
**Description**

Currently to exec into a container one must open service, see which machines have the task deployed, ssh into the machine, use docker ps command to fine the container, use docker exec command.

It would be much easier if UI has some "copy exec command" button which would put the string `ssh {{node}} docker exec -ti {{containerID}} sh` into a clipboard.

**Steps to implement:**
1.

[2018-06-29 16:15] rarous commented on #259
Swarmpit does not know public IPs/DNS of nodes, so you can't reliably generate SSH command. I believe #93 is high on priority list for next release.

[2018-06-29 17:22] Vanuan opened #260 "Peformance improvement request: use --since to fetch logs"
**Description**

Currently there's a long delay after you click "Logs" button. It's cause by swarmpit fetching fresh logs from docker daemon. This is not only bad user experience but causes issues in docker swarm due to manager being busy.

Suggestions:

- fetch only last minute logs (--since 1m) and add UI to fetch older logs
- add a feature to disable logs (so that users are forced to use Fluent

[2018-06-29 17:55] nohaapav commented on #260
We're aware of this issue and working on it.

[2018-06-30 13:22] Vanuan commented on #259
AFAIK `docker node ls` lists public FQDN of nodes.

[2018-06-30 16:39] abellion opened #261 "Volumes from worker nodes are not shown"
**Description**:

Volumes from worker nodes are not shown.

**Steps to reproduce the issue:**

- 1. Create a swarm cluster
- 2. Install swarmpit on the manager node
- 3. Create a volume in one of the worker nodes

**What happens:**

The created volume is not listed in the "Volumes" page.

**What should happen:**

Volumes from all the cluster should be listed.

**Additional information (e.g. docker

[2018-06-30 21:02] lumir-mrkva commented on #261
this is expected when you use local volume driver which is not distributed in swarm.

it could be possible however to add this functionality to agent that already listens on all nodes.

[2018-06-30 21:03] lumir-mrkva commented on #261
workaround is to create local volume in swarmpit, it will be automatically created with deployed task on worker node.

[2018-06-30 21:13] lumir-mrkva commented on #259
for this to work swarmpit would have to have access to the private key and I don't think that's a good idea

[2018-07-01 17:06] abellion commented on #261
Adding the volume from the UI works 👍

However, it would be convenient to have them listed automatically ;)

[2018-07-05 19:27] Vanuan opened #262 "Agent failed with sigsegv"
**Description**

**Steps to reproduce the issue:**
Don't know how to reproduce, it just happens on some machines

[code]

**What happens:**

Container dies

**What should happen:**

**Additional information (e.g. docker version, cluster setup,...):**

[2018-07-05 19:30] Vanuan commented on #262
The issue appears to be in here:
task.ContainerUsage(0xc4200f9e00, 0xc4207da140, 0x40, 0x0, 0x0, 0x0, 0x0, 0x0, 0x0, 0x0, ...)

https://github.com/swarmpit/agent/blob/adff5c79871ee8f7edac3b61febb4b903aaba0e8/swarmpit/task/stats.go#L159
https://github.com/swarmpit/agent/blob/adff5c79871ee8f7edac3b61febb4b903aaba0e8/swarmpit/task/stats.go#L126
https://github.com/swarmpit/agent/blob/adff5c79871ee8f7e

[2018-07-05 19:44] Vanuan commented on #262
So it looks like docker daemon returned missing precpu_stats.

According to documentation it can be empty:

https://github.com/docker/engine-api/blob/4290f40c056686fcaa5c9caf02eac1dde9315adf/types/stats.go#L100-L107

[2018-07-09 12:13] Vanuan commented on #259
Why? Wouldn't this work:

GET /v1.24/nodes HTTP/1.1

resp[].Description.Hostname

[2018-07-14 15:55] ediphy-dwild commented on #257
i believe to support google container registry you will need to allow injection or mounting of the google service account json file (oauth credentials will expire, usually when you want to fix a service using something like swarmpit!). allowing swarmpit to consume this via a swarm secret would be a great start. many thanks for a great product!

[2018-07-14 16:08] ediphy-dwild opened #263 "clicking on node in nodes view navigates to absolute url"
**Description**

When swarmpit is placed behind a proxy at a non '/' url, when clicking on a machine in the nodes view, the url navigated to is that of an absolute path, which fails to route back to the swarmpit instance, resulting in a 404

**Steps to reproduce the issue:**
1. when accessing swarmpit behind eg https://my.domain.com/admin/service/swarmpit, things generally work fine
2. click on a

[2018-07-16 10:55] #263 closed

[2018-07-16 10:56] lumir-mrkva commented on #263
@ediphy-dwild thank you for a report, it should be working as expected now

[2018-07-24 12:55] lumir-mrkva commented on #255
when you save edited config, we can offer you to change autoincremented name and update of linked services (to the edited config)

[2018-07-26 12:21] rarous opened #264 "Support custom links in service UI"
Add support to create links from Swarmpit UI to 3rd party services. Typically you will add label like `io.swarmpit.service.link` with URL as value and then Swarmpit will add Button/CTA on service detail with the URL.

[2018-07-29 06:45] rarous opened #265 "Support structured logs"
When service uses structured logging in JSON format, it will be nice to interpret structured data as collapsible trees. Using something like https://www.npmjs.com/package/react-json-tree

[2018-07-30 09:23] warmfusion opened #266 "Unable to create Artifactory docker repository without credentials"
**Description**

Unable to create new service from Artifactory hosted docker registry.

**What happens:**

1. Registry is added  ( https://docker.artifactory.company.name - Fully valid certificate )
1. A service is created
1. An error is displayed showing "Service creation failed. Not Acceptable"

Looking at the artifactory server logs, we see the following

[code]

When using authentication, and

[2018-07-30 11:09] nohaapav commented on #266
@warmfusion Is this standard v2 registry ?

[2018-07-30 14:53] warmfusion commented on #266
We're using standard artifactory configuration so a v2 api endpoint.

The login api is fully compatible with the docker client as can be seen here;

[code]

We've been able to boot services on the same docker swarm cluster using portainer, and use this registry a lot for local and CI based dev activities.

Note that we also don't require user login to pull images from the containers (at least at t

[2018-07-30 15:02] nohaapav commented on #266
@warmfusion
1)Did you use same swarmpit user for registry creation/registration as for service creation ? Just curious ..
2)Are u able to list images in your custom registry ?

[2018-07-30 15:23] nohaapav commented on #266
Swarmpit needs valid registry credentials during registry registration if not insecure. So we can skip case 1.  What error exactly is returned by Swarmpit during service creation in case 2 (authentication used)?

[2018-07-30 16:05] drujon commented on #266
Hi, joining the thread.
1) We have tried with the same user and different users.
2) Yes, when creating a service swarmpit lists all available images.

There is a problem with authentication disabled, but I just deleted all previous entries and added it with auth enabled and worked.

[2018-07-30 16:07] drujon commented on #266
But with authentication enabled it can list images but fails with the error pasted in the issue
"Service creation failed. Not Acceptable"

[2018-08-03 08:56] plockare opened #267 "Option to deactivate stack"
---------------------------------------------------
FEATURE REQUEST
---------------------------------------------------

I would like to see an option that could deactivate stacks.

Motivation:
Since my cluster servers are really low performant machines I have problems with memory. Recently happened to me that there was a bug in one container and used all resources. The server was restarted and al

[2018-08-03 11:24] warmfusion commented on #266
Updated ticket desc/title to reflect changed behaviour based on @drujon 's investigation

[2018-08-06 11:14] nohaapav commented on #266
@drujon It's strange that you are able to create registry without authentication. If registry is secured with auth required this should not happen.

What happens if you call following url from browser:
`GET https://{your_registry_url}/v2/`

This error should pop-up if no credentials were provided:

[code]

[2018-08-08 16:53] lucj opened #268 "Cloudstor log driver not detected"
I have deployed swarmpit on a swarm created with Docker For AWS. Several docker stacks were already there before swarmpit was deployed.  The stateful services use AWS awslogs (cloudstor) log driver but they are seen as using json-file in the swarmpit interface.

[2018-08-09 14:13] lucj commented on #268
After some digging, it seems the log driver is retrieved from the service (https://github.com/swarmpit/swarmpit/blob/083ce82dc293d98c201e551e89f4b77f541d35e0/src/clj/swarmpit/docker/engine/mapper/inbound.clj#L211-L215) but this does not take into account if the log driver is set at the Docker deamon level.

Below is the exemple in my configuration where the daemon is configured with awslogs :

[co

[2018-08-14 15:26] sallespro opened #269 "how to initialize services with Couch db setup error"
https://github.com/apache/couchdb-docker/issues/18

[2018-08-17 12:29] nohaapav commented on #226
Hi @Vanuan .. We will discuss with @lumir-mrkva. Unfortunately we're pretty busy with other issues in queue so it might take a while.

[2018-08-25 13:34] nohaapav commented on #159
Issues to track/fix:

- [ ] Data list not responsive if long text (e.g. volumes)
- [ ] Search panel primary color on focus missing
- [ ] Data list in task domain opens all task with same name

[2018-09-14 06:44] rkgade opened #270 "List Private Registry Image : for search and service creation"
---------------------------------------------------
FEATURE REQUEST
---------------------------------------------------

- List private image tag to launch a new service.

**Description**

Currently, when we click on "New Service" from "Services" under "Applications", a page pops up to search registry. Once an image from registry is selected, "IMAGE TAG" and "SERVICE NAME" are asked. However, for

[2018-09-17 07:06] rkgade commented on #270
@nohaapav thanks for the response. I could see them once I start typing. I guess, I am more used to seeing some options when I click on the field before starting to type. Thanks for the info.

[2018-09-17 07:06] #270 closed

[2018-09-17 16:52] macduff23 opened #271 "ps"
**Description**

**Steps to reproduce the issue:**
1.
2.
3.

**What happens:**

**What should happen:**

**Additional information (e.g. docker version, cluster setup,...):**

[2018-09-18 05:34] Dids opened #272 "Resource monitoring doesn't work as expected"
**Description**

I'm unable to see detailed resource usage/monitoring details in the "Nodes" view in Swarmpit.

![screenshot 2018-09-18 08 30 57](https://user-images.githubusercontent.com/3455449/45666273-a155ca80-bb1d-11e8-9f74-73a295373a11.png)

**Steps to reproduce the issue:**
1. Create a Docker Swarm cluster
2. Install Swarmpit
3. Check the "Nodes" page for resource usage

**What happens:**
O

[2018-09-18 06:39] rarous commented on #272
Hi @Dids, it depends on your cloud provider and their virtualisation of storage subsystem. Not all data are always provided or make sense.

[2018-09-18 06:41] Dids commented on #272
Hmm, I see. Any chance of it being configurable, so I could work around it?

[2018-09-18 11:56] #271 closed

[2018-09-18 21:38] carvajalluis opened #273 "unable to try Swarmpit"
---------------------------------------------------
BUG REPORT
---------------------------------------------------
-->

**Description**

unable to try Swarmpit when following up installation steps .

**Steps to reproduce the issue:**
1. create a swarm cluster
1. follow up install steps
1. `docker stack deploy -c swarmpit/docker-compose.yml swarmpit`
2. `docker stack ps swarmpit`

**What happens:**

[2018-09-18 22:09] lumir-mrkva commented on #273
@carvajalluis interesting, it looks like swarmpit is running ok according to `docker stack ps`, can you pls send me `docker inspect` and `docker logs` of `swarmpit_app` container?

[2018-09-18 22:12] lumir-mrkva commented on #272
@Dids it looks like the swarmpit agent isn't running correctly. can you provide me with more information about your installation? eg. `docker stack ps swarmpit`

[2018-09-19 20:28] macduff23 commented on #273
Hello,

I recently tried to deploy swarmpit on docker swarm 2nodes
Ubuntu 17/docker17.x
Ubuntu16/docker17x

Install -
git clone https://github.com/swarmpit/swarmpit -b 1.5
docker stack deploy -c swarmpit/docker-compose.yml swarmpit

The install was successful both containers are online on each node.
no access ERR - internal server error connection denied.

A whole other issue maybe:
Thought I woul

[2018-09-20 11:06] nohaapav commented on #272
@Dids You should be using swarmpit-agent instead of swarmpit_event-collector. Please check ROADMAP. Event collector went deprecated in new release.

[2018-09-20 12:00] Dids commented on #272
Ah, thank you very much! Missed the deprecation entirely. Works like a charm now. 👍

[2018-09-20 12:00] #272 closed

[2018-09-21 11:01] nohaapav commented on #273
@macduff23 Just wait till new release .. we're preparing brand new responsive ui .. 💯

[2018-09-27 19:41] rsoika opened #274 "Request Timeout when opening log"
I have a strange problem with swarmpit which I did not clearly understand.
I am running one docker worker node on a VM with a Ceph filesystem which, as I know, is a bit slower than pure hardware disks.

When I try to open the log of one of my services on this node from swarmpit.io I got a "Request Timeout" and the log is not shown. Message:

`Logs for this service couldn't be fetched.`

But connec

[2018-09-27 19:43] rsoika commented on #274
sorry - I just recognized that the issue is already known #260

[2018-09-27 19:43] #274 closed

[2018-09-28 06:13] hpbieker opened #275 "Show last updated and Error in "Tasks" overview"
When looking at the "Tasks" overview, you get some nice information, but it really does not give a good overview.

If you see below I have some tasks that were rejected. However, it does not tell me if this is a new or old problem. If it is old I do not really care, but if it is new I certainly have to dig into this.

My suggestion is therefore to add a "Last updated" column and an "Error" column

[2018-09-28 07:02] chabad360 commented on #130
Any updates on this?

[2018-09-28 10:55] nohaapav commented on #130
@chabad360 We're now pretty busy with rewriting swarmpit to fully responsive ui .. Then we're going to optimize jvm to run swarmpit on arm ..

[2018-09-28 15:06] chabad360 commented on #130
Any eta?

[2018-09-28 17:06] rustamzh opened #276 "No labels added to service when creating stack"
**Description**

During creation of stack within ui I specified several labels for some service, but after deployment there is no labels detected.

**Steps to reproduce the issue:**
1. Deploy stack that has service with labels
2. Observe that labels weren't added

**What happens:**

No labels

**What should happen:**

Should be labels present on the service

**Additional information (e.g. docker v

[2018-09-28 17:10] rustamzh commented on #276
labels section should be under deploy

[2018-09-28 17:10] #276 closed

[2018-09-28 23:18] nohaapav commented on #130
@chabad360 Will discuss with @lumir-mrkva on Monday

[2018-09-29 18:35] rustamzh opened #277 "No information about volumes in current engine state"
After creation of stack with volume if I want to make minor changes I need to rely on _Last deployed_ option of docker-compose source, because _Current engine state_ does not reflect volumes mounted in containers. Is it possible to fix it? (Reflect volumes in generated docker-compose file)

[2018-10-04 19:55] nohaapav commented on #275
@hpbieker Hi Hans, we're working on new responsive UI so we'll consider to add these columns as well.. Btw you can actually filter relevant tasks updated at specific date by simply writing

2018-09-22

Search is full-text (we're searching through every attribute value in task json)

[2018-10-17 12:51] sinacek opened #278 "Missing user and working_dir attributes"
**Description**

I need define `user` and `working_dir` for [Node container](https://github.com/nodejs/docker-node/blob/master/README.md#how-to-use-this-image). When I create new Stack with these container attributes, it works. But when I click on edit stack, these values is missing.

**Steps to reproduce the issue:**
1. Create stack by
[code]

2. Edit stack by generated file
3. See the difference

[2018-10-17 14:05] lumir-mrkva commented on #278
@sinacek yeah, we don't support this configuration value yet, i'll add it

[2018-10-17 15:12] sinacek commented on #278
What is possible release time for that?

[2018-10-18 06:19] hpbieker opened #279 "OutOfMemoryError errors in log"
**Description**
I keep getting out of memory log entries, and Swarmpit becomes unresponsive:
[code]

**Steps to reproduce the issue:**
It comes back automatically.

**What happens:**
I get out of memory exceptions in the log. Some parts does not function.

**What should happen:**
It should not give out of memory. Garbage collection should work :-)

**Additional information (e.g. docker version, cl

[2018-10-18 08:13] nohaapav commented on #279
Well it looks like you are physically out of memory .. Can you provide some systems statistics/additional info ?

[2018-10-24 08:58] sinacek opened #280 "database_does_not_exist in logs"
**Description**
I start new swarmpit stack and in logs i found error:
`swarmpit_db.1.da1e113j2hv6@host    | [error] 2018-10-17T22:57:11.828692Z nonode@nohost emulator -------- Error in process <0.21970.32> with exit value: {database_does_not_exist,[{mem3_shards,load_shards_from_db,"_users",[{file,"src/mem3_shards.erl"},{line,327}]},{mem3_shards,load_shards_from_disk,1,[{file,"src/mem3_shards.erl"}

[2018-10-24 09:09] lumir-mrkva commented on #280
dublicate / subset of #192

[2018-10-24 09:09] #280 closed

[2018-10-28 19:57] Masa331 opened #281 "Editing existing stackfile may modify it's service's command"
---------------------------------------------------
BUG REPORT
---------------------------------------------------
**Description**

Hi everybody,

whenever i edit existing stackfile including service with longer command with multiple arguments the command breaks over multiple lines and container is then started with wrong(missing some args) command. This happens when editing anything in the stackf

[2018-10-29 12:40] lumir-mrkva opened #282 "show size of volume"
try to incorporate ```docker system df```

[2018-10-29 12:44] lumir-mrkva commented on #282
api: https://docs.docker.com/engine/api/v1.25/#operation/SystemDataUsage

[2018-11-09 16:40] amlife180 opened #283 "Add confirmation dialog box before deleting a stack"
When I click on Stacks -> select a stack -> click on  Actions button then click on delete.

I don't get promoted for confirmation before deletion.

Please add this feature kindly to prevent accidental deletion.

Thanks

[2018-11-14 15:47] DeanKamali opened #284 "Password not getting saved?"
Hey swarmpit team

I'm using swarmpit version 1.6-2a0a14b, and  I have noticed that for when swarmpit UI container restarts I have I have to login via default login password.

I end up changing default login password is this a known issue?

[2018-11-14 15:53] nohaapav commented on #284
HEY,

It looks like you're using local storage for swarmpit_db(set by default) and db container has been rescheduled to another node so you lost your data. We suggest to use shared storage or at least setup constraint/placement so db is running always on pretty same dedicated node . See INSTALLATION section.

[2018-11-14 16:45] DeanKamali commented on #284
Hey @nohaapav
I have both items in my stack file (constraint to manager) & volume for couchdb,
or I'm missing something?

[code]

[2018-11-14 16:56] nohaapav commented on #284
You're using local volume driver for db service so you should:
a) specify placement constraint so db(couch) is running on same node all the time and using same volume e.g. :

[code]

b) specify some kind of shared volume driver such cloudstor, ...

[2018-11-15 13:10] filemon opened #285 "Image search in repositories is broken in case of '/' in the name"
**Description**
The list of images retrieved while using backslash in the name is incorrect.

**Steps to reproduce the issue:**
1. Search for public image `topmonks/docker-napp`

**What happens:**

The list contains many unrelevant images (completely different names)

**What should happen:**

I should see only the relevant finds

**Additional information (e.g. docker version, cluster setup,...):**

[2018-11-19 09:55] filemon opened #286 "Save the generated stack file for future deployment"
**Description**
Newly created stack file can only be Deployed. This is very likely to fail in case the original service exports a port or there is another clash with already running service. There is no Save action. Workaround is to copy paste the generated stack file, stop the service and create/deploy the copied stack file.

**Steps to reproduce the issue:**
1. Edit-Compose on the already runnin

[2018-11-19 16:27] dmpro opened #287 "Feature Request: Show Containers that are not part of a Stack"
Being able to see running and stopped "standalone" containers, that are not part of an active Stack and perform common actions on them, like start/stop/delete/inspect, would be really helpful, as I often just run standalone containers both locally and within my company.

This is basically equivalent to seeing the results of `docker container ls -a`, filtered to remove any container that is part of

[2018-11-19 19:53] rarous opened #288 "Service autoscaling"
Now, when we have agents in place, we have all informations we need to provide Service autoscaling feature.

We can add service labels (something like Auto-redeploy) for min and max number of containers and maybe low and high threshold on CPU usage, for triggering of autoscaling up and down.

[2018-11-21 08:40] lumir-mrkva commented on #287
@dmpro i suppose these containers are still belonging to service and tracked by swarm right? we're not planning to manage single engine containers.

[2018-11-21 08:51] nohaapav commented on #287
Please see very first section of ROADMAP overview:

https://github.com/swarmpit/swarmpit/blob/master/ROADMAP.md#overview

As Lumir stated we won't be supporting majority of container API as there is no point for that. Just use service abstraction even for single container ..

[2018-11-21 08:57] dmpro commented on #287
Ok, I hadn't seen that first line in the roadmap, so apologies for that. I guess that's fair enough.

[2018-11-21 19:41] #287 closed

[2018-12-03 18:31] rarous opened #289 "Support cloud logging drivers"
Add support for different logging drivers than JSON-logger. Highest priority are AWS and Azure logging drivers. We should be able to generate link to CloudWatch or even stream logs from there.

[2018-12-03 21:37] #279 closed

[2018-12-03 21:38] #273 closed

[2018-12-03 21:41] macduff23 commented on #273
Pavol - Illhave to come back to swarmpit is the new release out I would
love to give it another try I currently have been using swarmprom - its ok
the UI is kinda generic and ugly. Cheers. thanks

On Fri, Sep 21, 2018 at 7:01 AM Pavol Noha <notifications@github.com> wrote:

[2018-12-04 10:13] nohaapav commented on #273
Hi, new release will be out in few days, definitely in December. We initially thought that release will be out at Dockercon but unfortunately we're very busy to finish it in time. Few screens regarding graphics here:

<img width="1525" alt="screen shot 2018-12-04 at 11 08 30 am" src="https://user-images.githubusercontent.com/4179104/49434871-8823f800-f7b5-11e8-9183-4fcb195bc6d8.png">
<img width="4

[2018-12-05 12:15] macduff23 commented on #273
- OH wow looks Good wow good job! looking forward to it! cheers thats
badass!

On Tue, Dec 4, 2018 at 5:13 AM Pavol Noha <notifications@github.com> wrote:

[2018-12-13 16:43] Greatsamps opened #290 "Autoredeploy Problem"
We have just noticed an issue with autoredeploy having stopped working. We are running 1,000 services, and up until recently the autoredeploy was working well.

The nodes are aware of the new image digest, but none of the services have updated.

Can you advise steps to debug this?

[2018-12-13 19:08] lumir-mrkva commented on #290
@Greatsamps can you check swarmpit log? its probably issue with access to the registry and it should be logged there

[2018-12-13 19:08] nohaapav commented on #290
@Greatsamps Ho could you provide swarmpit_app log ?

[2018-12-13 19:15] Greatsamps commented on #290
Where can i find this, is this just the docker logs for the swarmpit container?

[2018-12-13 19:42] nohaapav commented on #290
@Greatsamps Yes

[2018-12-14 06:45] Greatsamps commented on #290
So, problems have got worse over night. Looked at it this morning, and swarmpit is offline, can't connect to the database.

I checked container and it was stopped. I restated it, and checked logs. The logs are absolutely full of entries such as these:

[notice] 2018-12-13T19:13:59.418330Z nonode@nohost <0.30330.746> d1fd0496e0 db:5984 10.0.0.4 undefined POST /swarmpit/_find 200 ok 99
[notice] 2018

[2018-12-14 09:32] nohaapav commented on #290
@Greatsamps These DB logs are harmless and described here:
https://github.com/swarmpit/swarmpit/issues/192. We're aware of it and will be fixing that soon.

Although this really looks like swarmpit can't connect DB for some reason:
[code]
It might be broken overlay, not enough space or just engine restart ..

Well you can recreate DB by dropping volume and deleting db service -> then new one will

[2018-12-19 19:49] nohaapav opened #291 "Hide stack btn if stack resource orphaned"

[2018-12-22 00:14] Andycharalambous opened #292 "Allow management of "extra_hosts" from UI"
It would be nice to be able to view and manage the "extra_hosts" config from the UI.

Also, any hand-written extra_hosts config I add into a stack's configuration yaml is lost when viewing the currently deployed view of a stack - I've gone in to this view many times to make a small amend and found that I've inadvertently blown away all other configs that swarmpit for some reason doesn't display un

[2018-12-23 12:38] nohaapav commented on #292
@lumir-mrkva Could you please check this stack engine state inconsistency please ..

[2018-12-27 10:02] fr4nc1stein opened #293 "Use private repository in Stack Script"
How can i use private repository connected in Swarmit.

    `version: '2'

      services:
      mariadb:
        image: 'bitnami/mariadb:latest' (change to my private docker repo already connected)
        environment:
         - ALLOW_EMPTY_PASSWORD=yes
         - MARIADB_USER=my_user
         - MARIADB_DATABASE=my_database
         - MARIADB_PASSWORD=my_password

    myapp:
      tty: true

[2018-12-27 10:19] nohaapav commented on #293
@fr4nc1stein To fetch images from private repo you need to specify repo url in image name as well. Based on url (unique id) correct registry credentials are then used to login.

In your case this should do the trick:
`192.168.1.102:5000/al/bitnami/laravel:latest`
`192.168.1.102:5000/al/bitnami/mariadb:latest`

[2018-12-27 10:52] rarous commented on #293
@fr4nc1stein it's not related to your issues, but your stack file is using old version that is not compatible with swarm.

[2018-12-27 11:17] fr4nc1stein commented on #293
Any resources stack file that compatible to swarm. I tried created a services i found some error

No such image:  IP:PORT/image/ related to #237 issues.

[2018-12-27 11:52] nohaapav commented on #293
@fr4nc1stein Could you create service based on that private image via service API ? @rarous has some good point that your stack file is outdated as well.

[2018-12-27 13:01] #290 closed

[2018-12-27 13:02] nohaapav commented on #290
Closing due to inactivity. Reopen if issue still persist ;)

[2018-12-27 17:15] fr4nc1stein commented on #293
No i cant create. Do you have sample stack file?

[2018-12-28 10:03] nohaapav commented on #293
@fr4nc1stein Well take a look into swarmpit stack ..

[2019-01-11 01:48] dedupely commented on #290
I have an issue with autoredeploy. I've deleted the old logins for the docker hub and repository thinking it was an auth error. Still the same.

When I look at the swarmpit_agent service I see a bunch of event errors (not sure what this actually means)
[code]

Looking at the _app service, I notice a bunch of error logs from Dec 11 (a month ago from posting this)
[code]
Not sure if that has anythin

[2019-01-11 08:21] sinacek opened #296 "Can't connect to hosted Gitlab registry"
**Description**
I'm dont see any images from my hosted gitlab private registy. I can add there credentials, but then I don't see any images by find in 'Create new service -> other registries'

**Steps to reproduce the issue:**
1. Create docker registry on hosted gitlab.
2. Run swarmpit.
3. Add Gitlab credentials to swarmpit.
4. Try find image 'tick' in Gitlab registry.

**What happens:**
I don't s

[2019-01-11 08:55] nohaapav commented on #290
@dedupely Hi agent issue looks like broken swarm overlay .. Agent just can't find swarmpit_app .. try to redeploy that to fix it.

Regarding autoredeploy .. From that logs it looks like dockerhub api returns not found for given service image .. will check that out

[2019-01-11 08:57] nohaapav commented on #296
@sinacek Hey, is it working with swarmpit 1.5 for you ? 1.6 is still in development and we did some major changes there so this might be consequence. Anyway thx for reporting.

[2019-01-11 08:58] sinacek commented on #296
No, 1.5 also doesn't work with my registry.

[2019-01-11 09:20] nohaapav commented on #296
Ok i will check the registry when @plockare is online :) .. hopefully gitlab didn't move from traditional v2 to some custom setup.

[2019-01-11 09:36] nohaapav commented on #130
@rthill Hi we did quite a huge refactoring to new UI in recent months so we had no time to focus on this one.

Anyway @lumir-mrkva you're speaking with someone at dockercon regarding arm release. How much effort we need to put in to finalize this one ?

[2019-01-11 09:54] sinacek commented on #296
I'm able with gitlab use `docker login` and it also works with https://github.com/v2tec/watchtower

[2019-01-11 16:42] nohaapav commented on #296
Well I'm actually using gitlab registry with no issue at all .. Waiting for @plockare to provide some details to check what is wrong on your side.

[2019-01-11 16:44] nohaapav commented on #296
Stupid question but are u using your gitlab user + private token with api access ?

[2019-01-11 18:15] sinacek commented on #296
Yes, I tried it again. It works for you?

[2019-01-12 02:54] dedupely commented on #290
I'm not sure if Docker Hub changed some things in their API but I heard that Hub and Cloud were supposed to merge but I'm not sure if that's true.

[2019-01-12 10:52] nohaapav commented on #296
First of all make sure that your registry is exposed on different url than gitlab .. See:

[code]

Then gitlab user + private token should work. See mail email

[2019-01-13 12:27] V-Smeets opened #297 "Can't see the network details"
**Description**

swarmpit version: 1.6-bf45a6a
Docker version: 18.09.1
Browser: Chrome Version 70.0.3538.77 (Official Build) (64-bit), Firefox gives the same error.

I can't see the details of any network. The browser shows a complete blank screen. The console of the browser shows the java script error: Invalid timezone format

**Steps to reproduce the issue:**
1. Open the swarmpit app in a browse

[2019-01-13 13:12] nohaapav commented on #297
@V-Smeets Hi Vincent, thx for reporting .. 1.6 is still in progress.
We moved to brand new ui and now we're fixing the issues related ;)

[2019-01-13 15:31] kthamm commented on #296
Hey, I am experiencing a similar issue. When adding a registry on swarmpit from gitlab.com, it doesn't find any images as well, when I try to create a new service with swarmpit. docker login does work though.

Just to make sure I didn't do anything wrong cofiguring the registry:
- I used https://registry.gitlab.com as url
- My gitlab.com username as user
- A personal acces token created with all s

[2019-01-13 16:01] sarendsen commented on #296
Facing the same issue as kthamm

[2019-01-13 23:02] laurenskling opened #298 "Why does Swarmpit take up so much memory?"
Running many containers need a lot of memory, memory costs money. So i'm very economic about my memory.
why is swarmpit taking up so much memory? :O
any idea's how to reduce the used memory?

swarmpit_app.1 | swarmpit/swarmpit:1.5 | xxxxxx | 0.13% | 65.57% | 704.1MB

[2019-01-14 00:00] lumir-mrkva commented on #298
swarmpit is running in JVM and that can easily lot of memory. you can try to reduce its usage by imposing a memory limit on the swarmpit service. there is [1GB set as default,](https://github.com/swarmpit/swarmpit/blob/master/docker-compose.yml#L18) but you maybe should be able to push it as low as 300 MB

[2019-01-14 08:37] nohaapav commented on #296
@kthamm @sarendsen Hi guys, i was debugging this a bit and it looks like you need to have admin role within your gitlab account. Then it should work. Not sure why user role is not enough. Need to check magic behind in more details.

[2019-01-14 10:30] sarendsen commented on #296
@nohaapav tnx, for the debugging. Though im owner of the gitlab account + repos and still the authentication fails.

[2019-01-14 11:48] nohaapav commented on #296
<img width="1416" alt="screen shot 2019-01-14 at 12 45 34 pm" src="https://user-images.githubusercontent.com/4179104/51110873-55304380-17fa-11e9-9949-b5f3deb7ab10.png">

So you have `admin` role right ? I've tried 2 identical accounts, one with admin role, one with regular .. Admin is working fine, Regular getting the error above.

Anyway this problem is related only to access to registry catalog.

[2019-01-14 12:55] nohaapav commented on #296
@kthamm ah .. i see .. Yeah that will the the root cause. I have hosted gitlab which works fine if i have admin access in place. Probably some gitlab restriction.

In that case there is not much we can do regarding repository listing.  As i mentioned you still can use your private repository with regular user, you just can't use this swarmpit feature. We need to
introduce some text field for such

[2019-01-14 16:05] nohaapav commented on #296
@kthamm Ok confirmed. I've created account on gitlab.com .. unfortunately they don't support v2 catalog api for regular access (all users), just admin access.

They don't even have some custom api to list all the images for all projects of specific user, you can list only images for particular project ..

`https://gitlab.com/<user>/<project_name>/container_registry.json?format=json&private_token=`

[2019-01-14 16:08] nohaapav commented on #293
Closing due to inactivity .. Feel free to open if issue persist

[2019-01-14 16:08] #293 closed

[2019-01-15 12:20] lumir-mrkva commented on #256
- [ ] distribution make private button, add lock when account is private
- [ ] rename distributions to registries
- [ ] **navigation crashes when loading**
- [ ] count resources in stack info summary
- [ ] links with new tab icon
- [ ] grey secondary label in list
- [ ] center labels in collumn
- [ ] break words in env vriables to fix responsivity
- [ ] stack name in service name on info page
- [

[2019-01-16 09:53] nohaapav commented on #296
@sinacek How is this related to this issue ? Your gitlab runs out of resources .. This issue is related to catalog api access ? Am i missing something :) ?

[2019-01-16 10:13] sinacek commented on #296
It's related for auto deployment which was my goal. Catalog api access was just way how test access to repository for me. My Gitlab runs out of resources only when I add credentials into swarmpit.

[2019-01-16 12:12] nohaapav commented on #296
I really don't believe that registry api call every minute is the cause of failing gitlab unless some poor gitlab nginx configuration. Even our registry client has default timeout set to 15 sec in case that something go wrong. Some more details would be nice. We have currently like 20+ projects hosted on gitlab with autoredeploy in place with no issue even if registry is busy and not responding ..

[2019-01-16 15:31] #291 closed

[2019-01-17 12:26] nohaapav opened #299 "Move to java 11"
See https://www.deps.co/blog/how-to-upgrade-clojure-projects-to-use-java-11/

[2019-01-17 13:31] lumir-mrkva commented on #298
#299 should also help with memory usage

[2019-01-17 19:29] Kenits opened #300 "Node health check?"
**Description**
Sorry for my  bad English
Is it normal that a non-working node shows its state as ram and disk?
II think it's a UI bug.

**Steps to reproduce the issue:**
1. Start swarmpit like this.
[code]
2. Get some load non-master node
3. Power off worker-node

**What happens:**

Ram and disk status are frozen and do not change

**What should happen:**

All status bars have dropped to zero and

[2019-01-17 19:34] lumir-mrkva commented on #300
i guess, we just show the last data received, there is no timeout

[2019-01-17 19:36] lumir-mrkva commented on #300
we'll fix it with planned stats improvements

[2019-01-17 19:43] Kenits commented on #300
It's good

[2019-01-19 14:32] abellion opened #302 "[1.6] New UI feedback"
Hi there,

Thanks for the great work, as always. Today I tried the upcoming 1.6 release and it looks gorgeous ! I've deployed a few services as well as some stacks, nodes, etc to try the UI out. I took some notes while testing it and here is my feedback :

### Login page

On my 13" screen, the `Username` and `Password` fields are at the bottom of the screen due to the large Swarmpit logo. I think

[2019-01-19 15:01] lumir-mrkva commented on #256
- [ ] make list items "clickable", allow to open items in new tab

[2019-01-19 15:40] lumir-mrkva commented on #302
@abellion thank you very much for feedback ❤️

we will be working more on the component layout in future, so we'll appreciate your feedback. this setup allows us to add more data to page easily and to be responsive for mobile devices at the same time.

[2019-01-19 15:59] #283 closed

[2019-01-19 17:40] nohaapav commented on #302
@lumir-mrkva Maybe we can introduce layout switch .. It's super easy to do and everybody is happy :)

[2019-01-19 19:48] abellion commented on #302
Hey @nohaapav, I'm on a 13" screen. I can see the button hovering :

![image](https://user-images.githubusercontent.com/9916488/51431603-80b49300-1c2b-11e9-8122-bf3aaf0b90b9.png)

[2019-01-19 20:05] abellion commented on #302
@nohaapav @lumir-mrkva A layout switch to make the tiles 100% width would do it !

For the record, I found some screenshots of the former Docker Cloud UI, if it can help improving the layout.

__Node Details__ :

![Node Details](https://raw.githubusercontent.com/docker/docker.github.io/a30770ed50975dc5655b2b9c72666b2b051cf5a3/docker-cloud/apps/images/lbd-four-nodes.png)

__Service Details__ :

![S

[2019-01-19 20:47] nohaapav commented on #302
@abellion Will check that screen .. Strange .. i can see the button on every device so far ..

Ad layout) One of the reason why we started swarmpit was that we didn't like UIs out there :)
So far no one was complaining about grid view, so let's wait for more feedback. We actually like
it, having no difficulties to read the data. Once 1.6 is released we're having session with our UX
team so we can

[2019-01-19 21:11] abellion commented on #302
@nohaapav sounds good !

I'm on Google Chrome ;)

[2019-01-20 23:48] lumir-mrkva opened #303 "dark mode"

[2019-01-21 18:49] nohaapav commented on #302
@hickscorp Looks like css is not loaded. Some more details would be nice. Try to open app in incognito window and make sure there is no ad block ..

[2019-01-21 23:20] lumir-mrkva opened #304 "improve service logs"

[2019-01-22 09:53] nohaapav commented on #304
Possible duplicate ? https://github.com/swarmpit/swarmpit/issues/260

[2019-01-22 23:30] slandsaw commented on #59
This looks promising with regard to 3:
https://github.com/apache/couchdb-docker/issues/3

[2019-01-23 10:57] #297 closed

[2019-01-23 22:50] lumir-mrkva commented on #254
@plockare volume name can be only `[a-zA-Z0-9][a-zA-Z0-9_.-]` and that is url safe

[2019-01-23 22:50] #254 closed

[2019-01-30 00:26] internalsystemerror opened #305 "tty: true being lost"
When I edit a stack config and add to a service: ```tty: true```, this is saved, remembered and used correctly. However, when I then reedit that same stack config, the latest yml has lost the tty: true flag, so unless manually entering it again, when clicking deploy it's lost.

It is supported: https://docs.docker.com/v17.12/docker-cloud/apps/stack-yaml-reference/#single-value-keys-analogous-to-a-

[2019-01-30 00:51] lumir-mrkva commented on #305
@internalsystemerror thanks for reporting, we're indeed ignoring this property

[2019-01-30 00:55] internalsystemerror commented on #305
Thanks, loving this app btw, fine job.

If I can contribute the fix, just point me in the right direction

[2019-01-30 16:46] #300 closed

[2019-01-30 17:08] #305 closed, assigned to mrq1911

[2019-02-01 10:06] #192 closed

[2019-02-01 16:54] cadavre commented on #236
Hi, I'm also looking for a solution that would ease using ECR with Docker Swarm. Having this in Swarmpit would give it a huge advantage over Portainer in this matter.

[2019-02-01 17:01] nohaapav commented on #236
@cadavre Hi cadavre .. We're going to support all major registries in next release .. ECR, Azure, gitlab.com .. google as well probably .. but first 3 are the priorities

[2019-02-04 13:54] nohaapav commented on #256
Rest can be moved to next release. Closing ...

[2019-02-04 13:54] #256 closed

[2019-02-07 20:07] Asherslab commented on #303
Oh please =D

[2019-02-09 15:12] nohaapav commented on #242
Done in 1.6

[2019-02-09 15:12] #242 closed

[2019-02-09 17:04] sarendsen commented on #296
Love the 1.6 rework and great to hear this will be supported! Should we make this a feature request then?

[2019-02-10 04:58] nitrix opened #307 "Wrong port deletion"
BUG REPORT
---------------------------------------------------

**Description**

Deleting a port on the service creation page (likely the edition page too) always deletes the last port.

**Steps to reproduce the issue:**
1. Click Services
2. Click New Service
3. Find an image that has multiple exposed ports.
4. Click on it.
5. Pick "latest" for the tag to trigger a page update with the exposed por

[2019-02-10 09:54] nohaapav commented on #296
@sarendsen Please do

[2019-02-10 10:45] nohaapav commented on #307
Thanks for reporting .. Looks like items are deleted ok just wrong rendering on fe for this type of edit table (react-keys)

[2019-02-10 11:45] laurenskling commented on #302
Just wanted to show my love for the new UI here. Thanks for putting all the effort in this. Looks awesome 🌈

[2019-02-10 11:49] laurenskling opened #308 "Log formatting when using color codes"
I'm running Nginx in docker and looking in the logs in Swarmpit, I get the color codes, which makes it pretty unreadable. It's not Swarmpit specific, because it used to be in Docker Cloud as well, but i'm hoping someone can help me fix it.

A log entry looks like this:
`uoxrdzc [0;33;1mnginx.1 | [0mexample.com 1.1.1.1 - example [10/Feb/2019:11:46:12 +0000] "GET /v2/example/manifests/latest HTTP/

[2019-02-10 12:54] nohaapav commented on #308
Hi @laurenskling  .. The problem is that black screen you see is just a formatted html page. We will probably need to switch to some terminal emulator (hyper,xterm) to support bash specific stuff.

@lumir-mrkva Could you take a look please about the possibilities here ? We'll need to introduce some html terminal emulator for exec as well.

We're going to improve logs experience in 1.7 so thanks fo

[2019-02-10 13:43] laurenskling commented on #308
Would be great if it would be a bash-like page. I would love to `exec` into my dockers directly via Swarmpit as well <3

[2019-02-10 15:18] nohaapav commented on #307
@nitrix I pushed the fix to 1.6 .. Could you just redeploy swarmpit_app service to see how it works for you now. Thanks.

[2019-02-10 22:11] #298 closed

[2019-02-11 01:53] nitrix commented on #307
@nohaapav Confirmed, your commit fixed the problem!

I really appreciate the fast reply, thanks (:

[2019-02-11 01:53] #307 closed

[2019-02-12 12:50] jkelin opened #309 "Middle mouse click does not open link in a new tab"
**Steps to reproduce the issue:**
1. Open swarmpit
2. Login
3. Middle click on Tasks for example

**What happens:**
Tasks section is loaded in the current tab as well as new tab gets opened

**What should happen:**
Tasks section should open in a new tab only, currect section should stay as is

**Additional information (e.g. docker version, cluster setup,...):**
Swarmpit version: 1.6-0f05a55
Same b

[2019-02-13 10:34] angheladrianclaudiu opened #310 "Can't see node live node metrics for newly joined node in the swarm"
**Description**

Node metrics are not shown in the nodes view.
**Steps to reproduce the issue:**
1. Select Nodes from the menu list
2. Check the node info

**What happens:**
When checking the node information, node metrics are not shown even though it correctly shows the number of cores and the amount of RAM.

**What should happen:**
It should show the live node metrics

**Additional information:*

[2019-02-13 10:45] angheladrianclaudiu commented on #310
It seems that it worked after I redeployed the stack. Is there a way for doing this without redeploying the stack?

[2019-02-13 12:40] farodin91 commented on #310
We had the same problem and we needed to add two env variables for the agent:
      - EVENT_ENDPOINT=http://swarmpit:8080/events
      - HEALTH_CHECK_ENDPOINT=http://swarmpit:8080/version

It would be helpful in agent to add some more information like the checked endpoint.

[2019-02-13 12:44] lumir-mrkva commented on #310
interesting, this should work automatically as the agent is global service and as long that is in same network as swarmpit and same stack default event endpoint (http://app:8080) should work. this looks like some sort of network problem, what cloud provider are you using?

[2019-02-13 12:51] lumir-mrkva commented on #309
@jkelin i reproduced problem with ctrl + click, but middle mouse is working fine for me, what is os and browser you are using?

[2019-02-13 12:56] nohaapav commented on #310
Also statistics are not shown immediately .. You need to wait till agent fetch first batch :) like 60 sec is default ..

[2019-02-13 15:27] jkelin commented on #309
@lumir-mrkva I am using Firefox 65.0 on Ubuntu 18.04. I can confirm that middle click does indeed work fine in Chrome.

[2019-02-13 16:14] GustavoTango opened #311 "Can't initialize admin with manual installation"
**Description**
We are trying to deploy the 1.6 dashboard in our Swarm Cluster. We are using a slightly
modified version of the Stack provided in the manual installation because we are including
other services (i.e. Traefik) in this initial stack.

[code]

The stack deploys without any problem and we can see the page for creating the first admin. The problem is that when we introduce the credentia

[2019-02-13 16:41] nohaapav commented on #311
Try to delete token from local storage, probably you still have one from previous installation

@lumir check this please

[2019-02-13 16:51] #311 closed

[2019-02-13 19:14] lumir commented on #311
Hey, hi, I'm a different Lumir 😄

[2019-02-14 09:27] unglaublicherdude opened #312 "Empty docker content digest causing service creation/update impossible"
---------------------------------------------------
BUG REPORT
---------------------------------------------------

We deploy stacks on docker swarm via `docker stack deploy` with a "start" setting. For example a service is replicated 5 times. These settings can be adjusted via the UI but the changes cannot be applied.

**Steps to reproduce the issue:**
1. Deploy a stack with a service named whoam

[2019-02-14 10:16] lumir-mrkva commented on #312
@unglaublicherdude this error refers to authentification with the registry of that image, please double check that you have added the registry to swarmpit correctly

[2019-02-14 12:39] unglaublicherdude commented on #312
@lumir-mrkva we have set up a custom registry (Artifactory with public read), without any form of authentication

[2019-02-14 13:44] nohaapav commented on #312
@unglaublicherdude Could you provide registry details (JSON when you review registry info) ?

[2019-02-14 20:38] valentinwinkelmann opened #313 "Swarmpit container is permanently rebuilt. also after docker system prune"
Hello. i somehow screwed up the installation. i suddenly had 3 containers after the installation. i unfortunately deleted one of them, maybe that started the error, i can't get swarmpit stopped anymore. i already deleted everything with the two commands, but immediately after that 2 new containers appear.

the code i use to stop everything and prune then all:
`docker container stop $(docker contai

[2019-02-14 21:23] lumir-mrkva commented on #313
seems like you removed swarmpit_db, you should be able to fix swarmpit stack by simply running ```docker stack up -c swarmpit/docker-compose.yml ```

[2019-02-14 21:25] lumir-mrkva commented on #313
btw. you cannot remove service by removing it's containers, service will always try to start containers again, if you want to remove stack or service from swarm, you should use `docker service rm` and `docker stack rm` respectivelly

[2019-02-14 22:33] valentinwinkelmann commented on #313
@lumir-mrkva
Thank you so much. That worked wonders. I was already despairing. Great that you answered so quickly.
And also thanks for the link, I am very unexperienced in handling swarms. I will definitely take a look at it.

[2019-02-14 22:33] #313 closed

[2019-02-15 15:44] unglaublicherdude commented on #312
@nohaapav here you go
[code]

@lumir-mrkva
But when you say it is related to the registry. We use a complete inhouse system. With an own inhouse CA. Should we install that CA certificate into the swarmpit-container?

[2019-02-17 23:22] rodneygp opened #314 "Volumes are not shown (request timeout)"
**Description**

Unfortunately, we see no volumes in corresponding page. Attempt to open it results in "Request timeout" message. I believe, the issue has it's roots in the fact, that we have a lot of volumes and many of them reside on ceph/rbd. Obviously, it takes quite some time to list them (also on docker cli it takes around 22 seconds). It would be cool to have possibility to set the volumes

[2019-02-18 07:28] unglaublicherdude commented on #312
Swarmpit does resolve the image tags - when on the edit-page of a service you can actually select the tags, that are in the registry - via the registry which it doesn't when no registry is configured. So I guess the general connection to the registry works.

[2019-02-19 03:50] nohaapav commented on #312
@unglaublicherdude Could you provide details how registry was deployed ? (stackfile, cmd)
I'm trying to reproduce your issue with no luck so far ..

[2019-02-19 10:31] unglaublicherdude commented on #312
Hi, the registry is a hard installed Artifactory, done by the documentation of JFROG. So it does not run in our swarm and does not have a stackfile.

[2019-02-19 17:03] nohaapav commented on #312
That might be issue .. Standard v2 registry works just ok without credentials, maybe JFROG is doing some magic on top of the registry.  Need to check how the setup is done there.

[2019-02-19 17:10] nohaapav commented on #314
Hi @rodneygp

Currently timeout is hardcoded for 5 sec [see](https://github.com/swarmpit/swarmpit/blob/master/src/clj/swarmpit/docker/engine/http.clj#L37)

We can introduce some env variable so you can change client timeout for docker sock communication.

[2019-02-22 09:19] farodin91 commented on #288
It would be cool to have a manual fast scaling option for all service as a beginning.

[2019-02-23 07:52] marriamda opened #315 "standalone containers and also images on each node"
Does swarmpit monitor standalone containers and images on each node? I want to see the images, non-swarm containers existing on each swarm node and also the stopped but not removed containers.
thanks

[2019-02-23 08:40] rarous commented on #315
Swarmpit is Docker Swarm management Tool. It doesn't and will not support something else, for focus and simplicity reasons.

[2019-02-23 09:52] marriamda commented on #315
Thanks . although it's better to know more about host and its load etc, it can have the feature to run exec on each container in the swarm.
thanks for the reply

[2019-02-23 11:40] nohaapav commented on #315
@marriamda Actually you can see host load in node section -> non-swarm containers are counted in report as well !!! Exec is on feature list, see https://github.com/swarmpit/swarmpit/issues/93

[2019-02-23 12:25] #315 closed

[2019-02-26 04:54] edward-of-clt opened #316 "Remove Nodes"
---------------------------------------------------
FEATURE REQUEST
---------------------------------------------------

Admins should be able to remove nodes after draining them (or quite frankly forcefully remove a host).

**Description**

In the Docker CLI you can run `docker node rm <node_id>` or `docker node rm -f <node_id>`. Swarmpit should include such features to modify the nodes within th

[2019-02-26 05:33] FxIII opened #317 "Remove Volumes"
---------------------------------------------------
BUG REPORT
---------------------------------------------------

**Long labeled volumes can not be removed through UI**

When a volume has a long label (tipically if its hash is used), the UI stretches and the trash button goes out of screen.
I resolved through browsers devs tools by altering the css of .Swarmpit-card-header-responsive-title:
[cod

[2019-02-26 07:58] nohaapav commented on #317
Could you elaborate more ? I see no issue with volume names.

<img width="382" alt="screen shot 2019-02-26 at 8 57 07 am" src="https://user-images.githubusercontent.com/4179104/53396393-9d6b8580-39a4-11e9-836e-b69d656d9a33.png">
<img width="768" alt="screen shot 2019-02-26 at 8 57 16 am" src="https://user-images.githubusercontent.com/4179104/53396394-9d6b8580-39a4-11e9-9ddd-016d2e431b74.png">
<img

[2019-02-26 08:21] FxIII commented on #317
On my mac it seams to affect only firefox [65.0.1 (64 bit)]
<img width="1677" alt="schermata 2019-02-26 alle 09 20 04" src="https://user-images.githubusercontent.com/1052649/53397600-d22d0c00-39a7-11e9-808e-439dcd5b7586.png">

[2019-02-26 09:09] nohaapav commented on #317
I see .. Looks like this is FF & IE issue. These browsers not supporting `break-word` just `break-all`.

[2019-02-27 00:11] dedupely commented on #316
Thumbs up on this!!

[2019-02-27 11:03] #317 closed

[2019-02-28 11:28] Dids commented on #273
@nohaapav Figured I wouldn't open a new issue just for this, but should the new UI already be a part of Swarmpit 1.6? I still see the old UI, while even the website is showing off the new UI, so I'm wondering if I've missed something, or if it just hasn't been released yet?

[2019-02-28 12:01] nohaapav commented on #273
@Dids Hi Dids, try to delete browser cache. The new UI is indeed part of 1.6 ;) You can simply verify this by opening swarmpit in incognito window.

[2019-02-28 12:23] Dids commented on #273
@nohaapav Unfortunately that didn't work either, and I even tried several browsers (and cleared the cache).

Here's what it looks like with Incognito mode, and you can see the version too:
![Screenshot](https://i.imgur.com/RsIOpOn.png)

[2019-02-28 13:40] nohaapav commented on #273
This is not 1.6 release version, but some old 1.6 snapshot based on screenshot. Update the swarmpit to 1.6 or latest (1.7 snapshot) to see the change.

[2019-02-28 13:43] Dids commented on #273
@nohaapav You're absolutely correct. It showed the `app` service as last updated a few hours ago, so I figured it was auto-updating, but nope, redeploying fix it.

Thank you, the new UI looks amazing! :)

[2019-03-01 07:50] cadavre commented on #236
Just as a follow-up...

ECR's 12h TTL token is obtained mostly via `awscli`s `aws ecr get-login`. This uses AWS key ID, key secret and region. But there are also EC2 IAM Roles which can give access to particular nodes (i.e. EC2 instances with manager role) without need for passing secret credentials. It uses then instance metadata to obtain credentials and use them in behalf of key id+secret. It i

[2019-03-01 11:15] nohaapav commented on #236
Hi, i guess we're going to support ecr login based on AWS parameter KEY, SECRET and REGION in first phase. Later on we can discuss other possibilities. IAM user is from my perspective the easiest and most straightforward way to setup access even for new user and i don't want to overcomplicate things in the very beginning :)

[2019-03-01 11:16] cadavre commented on #236
True. I'd do the same in the beginning. But please keep this in mind. :)

[2019-03-04 20:52] kinghuang opened #318 "Support Docker API connections over encrypted TCP"
**Description**

Swarmpit currently requires that the Docker API be mounted as a file socket at `/var/run/docker.sock`. In my clusters, the manager nodes are configured to never take on tasks. I need a way to run Swarmpit on a non-manager node, and connect to the Docker API via a secured TCP socket (e.g., at `https://manager-here:2376` with TLS cert.

**Steps to reproduce the issue:**

1. Run Swar

[2019-03-04 21:32] lumir-mrkva commented on #318
this should be supported already, try to set DOCKER_SOCK env property

[2019-03-04 21:36] rarous commented on #318
You can deploy Socat on manager node a map Swarmpit to use it.

[code]

And reconfigure Swarmpit with following ENV:

[code]

[2019-03-05 12:18] cadavre commented on #312
Solved by adding a Registry that matches image in edited service.

But there's another error keeping service from being updated in edit mode:
[code]

Looks like the format is wrong and no digest is filled. `my-image:latest@` doesn't look like a valid repo image/tag.

[2019-03-06 16:26] kinghuang commented on #318
@rarous Thanks for the suggestion, but it misses the point. We don't run any tasks on the manager nodes. Having to run socat on a manager node isn't any different than having to run swarmpit on a manager node.

[2019-03-06 16:26] kinghuang commented on #318
@lumir-mrkva I tried setting `SWARMPIT_DOCKER_SOCKET=tcp://ip-address-here:2376` on the app (swarmpit) service, but I'm getting an exception.

[code]

And, how do I set the client TLS cert and ca cert to use for the connection?

[2019-03-07 07:49] cpxPratik commented on #272
Resource monitoring is not working with swarmpit agent. Does it affect that it is deployed on DIgitalOcean?
![screenshot from 2019-03-07 13-28-53](https://user-images.githubusercontent.com/6893334/53940355-939cfd00-40dd-11e9-9e61-32d14e8dd015.jpg)

[2019-03-07 08:47] nohaapav commented on #272
@cpxPratik Should work with DO as well. Is swarmpit-agent running properly ? What about tasks ? Are you able to see tasks stats or you have same issue ?

[2019-03-07 08:53] cpxPratik commented on #272
@nohaapav Everything services, stacks, data volumes all works perfectly. Just node resource is not working. Yes, all agents are running properly. I also did `docker service update <service_name> --force`.

[2019-03-07 08:54] cw1998 commented on #272
I also have this issue on Scaleway instances. Everything else works fine, just node information that doesn't work correctly. Same issue as @cpxPratik

[2019-03-07 08:54] cpxPratik commented on #272
`docker service logs swarm_services_swarmpit_agent` shows:
[code]

[2019-03-07 11:05] nohaapav commented on #272
@cw1998 yes, running tasks should also show resource usage. Btw these instances are linux based ?

@cpxPratik You should see something like this in agent log in case of success:

[code]

[2019-03-07 11:08] cw1998 commented on #272
@nohaapav Yes, all Debian nodes. My logs also say `Waiting for Swarmpit...` on all nodes, so I will take a look into networks. Thanks for pointing that out. I'll report back here if I get anywhere.

[2019-03-07 11:24] cw1998 commented on #272
Got it. My issue was because the agent defaults the endpoints for the healthcheck to `app`
In my configuration, I called it `swarmpit-app`. To fix this I added two new environment variables to the agent service:
`HEALTH_CHECK_ENDPOINT=http://swarmpit-app:8080/version`
`EVENT_ENDPOINT=http://swarmpit-app:8080/events`
where `swarmpit-app` is your app's service name.

[2019-03-07 11:39] cpxPratik commented on #272
Thanks to everyone involved on this issue. I have used `swarmpit_app` than the assumed `app` for service name. :clap: @cw1998

[2019-03-07 12:08] nohaapav commented on #272
Glad you figure this out guys :) ..

[2019-03-07 12:34] letscodehu opened #320 "Removing any label from a service removes the last label instead"
**Description**

When somebody intends to remove a label from a specific service, the UI reflects that he removes the last label instead. It might be a UI only glitch which is not reflected in the command when the change is submitted.

**Steps to reproduce the issue:**
1. Navigate into a service details page which has multiple labels assigned.
2. Click on the edit button under the labels section.

[2019-03-07 12:37] lumir-mrkva commented on #318
@kinghuang sry, we're not supporting tcp but just plain http connections right now

[2019-03-07 12:37] nohaapav commented on #320
@letscodehu What version of swarmpit are u using ? This should be already fixed ..

[2019-03-07 14:12] letscodehu commented on #320
1.6, the latest stable release according to github. It was released 27 days ago. The commit you linked was done 25 days ago, so I doubt that it's in that release but it's already taken care of then.

[2019-03-07 14:19] nohaapav commented on #320
Actually this commit has been cherry picked in 1.6 .. so please update redeploy swarmpit_app to fetch the latest stable image.

[2019-03-07 14:53] cw1998 opened #321 "Stay signed in/Remember me"
---------------------------------------------------
FEATURE REQUEST
---------------------------------------------------

Currently you have to sign into Swarmpit every so often. This is fine on desktop with a password manager, but is laborious on mobile. Especially when using the PWA. A "Remember me" or "Stay signed in" checkbox on the login form would be great if it's possible.

[2019-03-07 14:55] lumir-mrkva commented on #321
@nohaapav i suppose we could create longer living token in that case (remember me checked)

[2019-03-07 16:00] letscodehu commented on #320
@nohaapav I pulled the latest image on the manager, removed the stack then run the install docker command. Even then I had to clear my browser cache to see the changes, but it's fixed now, thank you.

[2019-03-07 16:00] #320 closed

[2019-03-07 16:24] nohaapav commented on #320
Redeploy swarmpit_app service from UI and clear browser cache should be enough :) But glad that it works.

[2019-03-07 17:19] nohaapav commented on #310
Possible duplicate https://github.com/swarmpit/swarmpit/issues/272

[2019-03-07 17:19] #310 closed

[2019-03-07 17:21] #302 closed

[2019-03-07 19:52] atmosx opened #322 "Using an external node as CouchDB"
Hello!

I'm trying to setup swarpit for testing purposes on a staging cluster. I don't wanna use cloudstor or rexray. I'm starting swarmpit with the following env vars (I'm using the docker-py for deployments):

[code]

The docker socket is accessible through socat TCP.  The `couchdb_uri` points to a CouchDB running on a dedicated node, through docker-compose.  The CouchDB docker-compose looks lik

[2019-03-07 20:05] atmosx commented on #322
It actually worked. The TCP socket didn't worked, I'm running on a manager node, I'll just make sure it's not the leader. Thanks for the software :-) - closing this.

[2019-03-07 20:05] #322 closed

[2019-03-08 09:12] nohaapav commented on #322
@atmosx You can run couchDB on worker node .. No issue with that at all :) We do the same.

[2019-03-08 09:20] ducminhnguyen opened #323 "Swarmpit exit 137"
**Description**
Swarmpit admin app crashes from time to time, with exit code 137

**Steps to reproduce the issue:**
Deploy swarmpit and wait for crash to happen

**What happens:**
Swarmpit admin_app crash with 137 error

**What should happen:**
Swarmpit admin_app should not crash with 137

**Additional information (e.g. docker version, cluster setup,...):**
[code]
Crash log:
[code]

[2019-03-08 09:26] martykan opened #324 "Service detail menu is not entirely visible"
There is a minor UI bug In the service view.
If the title of a service is longer, it pushes the menu items out of bounds.

[<img src="https://i.imgur.com/GDWhto8.png" width=400>](https://i.imgur.com/GDWhto8.png)

[2019-03-08 09:48] nohaapav commented on #324
@martykan We need more details such browser, swarmpit version, screen resolution etc ..

[2019-03-08 09:50] nohaapav commented on #323
There is nothing significant in crash log .. Just make sure you have enough resources. Swarmpit is then running just fine.

[2019-03-08 09:52] martykan commented on #324
Version is 1.6-5cb209c
You can replicate this by resizing the window to a narrower width, when it almost changes to the mobile UI.

[2019-03-08 11:12] nohaapav commented on #324
@martykan You're using some old version regarding commit number `5cb209c `. This is fixed already. Please update to recent version or stable milestone 1.6.

[2019-03-08 11:12] #324 closed

[2019-03-08 12:16] hpbieker opened #326 "Reverse proxy and Swarmpit"
**Description**

In previous versions I was able to use Swarmpit behind a reverse proxy with an address such as http://somehost/swarmpit/, but with the latest version I am not able to do that because the urls for css and js points to the root directory.

It looks like this issue was introduced in https://github.com/swarmpit/swarmpit/commit/1ee0ca1261b9377ab563159cdde739fef908658a#diff-f64602509ae5

[2019-03-08 12:23] rarous commented on #326
I'll create ENV property where you can set base address.

[2019-03-09 09:22] nohaapav commented on #312
@cadavre Sorry for late reply, pretty busy these days. Yes registry url have to match image name. Basically image is the only identifier based on which we lookup for linked registry.

From error above it looks like image digest returned from registry for given repository tag has empty value. Not sure if this is valid behaviour.

Could you try this:

[code]

Wondering about the result. Thanks you.

[2019-03-12 16:06] amitm02 opened #327 "Swarmpit UI requires 3rd party fonts (google fonts), that are not shipped with the app"
I'm using Swarmpit on a corporation network with no internet access.
When attempting to open swarmpit app UI, the browser freeze while trying the fetch google fonts for an external site.
I believe the fonts should be shipped with the app itself for cases like this where there is no internet access.

[2019-03-13 10:33] nohaapav commented on #323
Closing due to inactivity and lack of data to debug. Feel free to open in case problem persist.

[2019-03-13 10:33] #323 closed

[2019-03-13 13:44] rarous commented on #326
You can set `SWARMPIT_BASE_URL` env to overrride root path.

[2019-03-13 14:12] #327 closed

[2019-03-13 15:58] zeg-io opened #328 "Cannot upgrade interface"
---------------------------------------------------
BUG REPORT
---------------------------------------------------

I had an older version of swarmpit installed.  (Blue interface) I am attempting to update it to the latest.  I installed using the install script, which worked.  But... I still have the blue interface rather than the purple one.  How do I ACTUALLY upgrade?

It lists the current versi

[2019-03-13 16:04] lumir-mrkva commented on #328
try to hard refresh page (shift refresh) or delete cache

[2019-03-15 03:30] robodude666 opened #329 "LDAP Authentication"
FEATURE REQUEST
--------------------

**Description**

It would be great to see authentication supported via LDAP/Active Directory.

[2019-03-15 14:30] nohaapav commented on #312
Found the problem. It looks like `docker-content-digest` is not mandatory response header attribute so nil is returned in this case.

Resp. Headers:
[code]
Happens to me for Amazon ECR ..

[2019-03-15 14:48] nohaapav commented on #312
Found it .. Looks like we need to use `HEAD` instead of `GET` method to have digest in response headers. Strange, doc says that we can choose any of these and looks like that for some v2 registries `GET` is working just fine..

[2019-03-15 15:46] nohaapav commented on #328
@zeg-io Login is true the same because you didn't remove database volume first (clean installation).

[2019-03-15 16:29] #312 closed

[2019-03-15 16:30] #236 closed

[2019-03-15 16:43] cadavre commented on #312
Sorry for lack of response, also had lack of time. Thank you for debugging and finding the problem. Will ease up much working with Swarmpit. GJ!

[2019-03-15 16:44] cadavre commented on #236
For me – one of gamechangers for Swarmpit. Looking forward to check it.

[2019-03-15 16:51] nohaapav commented on #285
@filemon Could you check within new UI .. Looks fine to me now.

<img width="1657" alt="Screen Shot 2019-03-15 at 5 50 52 PM" src="https://user-images.githubusercontent.com/4179104/54447971-f7ad6a00-474a-11e9-9461-ba5b1435f8d2.png">

[2019-03-16 14:38] nohaapav opened #331 "Azure Container Registry support"
Add ACR support

[2019-03-16 14:45] nohaapav commented on #266
Just tried myself to create/update service with insecured v2 without credentials and everything worked well.  If problem persist feel free to reopen.

[2019-03-16 14:45] #266 closed

[2019-03-16 14:46] #5 closed

[2019-03-16 23:57] robertofabrizi commented on #184
How can I set swarmpit to use a custom URL so that I can use that in traefik to route? Cheers!

[2019-03-17 01:04] matthiasbaldi commented on #184
Something like this, I think:

[code]

[2019-03-17 11:22] #328 closed

[2019-03-17 20:47] robertofabrizi commented on #184
The latter would be perfect!

[2019-03-17 23:59] matthiasbaldi commented on #184
Well, I have never configured this.
But I think you have to go over the URL rewrite -> https://docs.traefik.io/configuration/entrypoints/#rewriting-url
What I don't know is, if it would be possible to configure it over labels. You have to try it out.

[2019-03-18 09:59] nohaapav commented on #184
If you would like to use Swarmpit behind reverse proxy please take a look into this issue: https://github.com/swarmpit/swarmpit/issues/326

[2019-03-18 10:09] robertofabrizi commented on #184
That's exactly it, sorry but I didn't find it mentioned in the documentation, thanks again man.

[2019-03-18 11:24] robertofabrizi commented on #326
There is no docker image on dockerhub that already supports this right?

[2019-03-18 13:13] nohaapav commented on #326
@rarous 🔝 Check it please

[2019-03-18 13:15] nohaapav commented on #326
We need to probably prefix api's with base url as well.

[2019-03-18 18:16] nohaapav opened #332 "Cleanup registry API"
Cleanup reg types, unify registry API

[2019-03-19 08:27] synthomat commented on #281
@rarous why does the software generate the compose file from the state instead of persisting the original file in the database? It's a bit confusing and error prone to me, because the generated one is also missing other properties, like labels…

[2019-03-19 08:57] nohaapav commented on #281
@synthomat Because generated one reflects application state. Original may not. If some property is missing raise the issue and we will fix it accordingly.

[2019-03-19 09:04] #285 closed

[2019-03-23 12:17] sirodoht opened #334 "User's public linked local registry is used even after the user has been deleted"
BUG REPORT
---------------------------------------------------

**Description**

Deleted users' registries remain in database and are used in case they had been configured as public. There is no way to remove them unless you directly interface with the database.

**Steps to reproduce the issue:**

1. Create two users, A and B.
2. Link a local registry using user A.
3. Create a service, with auto-d

[2019-03-23 12:26] sirodoht opened #335 "Docker Hub passwords are stored plain text"
BUG REPORT
------------------------

**Description**

If a user links the Docker Hub registry then their credentials are stored plain text in the CouchDB database. Of course this database is not exposed to then internet, but it is a security risk nonetheless.

**Steps to reproduce the issue:**
1. Link a Docker Hub registry using your account
2. Inspect the CouchDB database documents

**What happen

[2019-03-23 17:14] nohaapav commented on #335
The thing is: If i get access to your infra i can easily run smth similar like:
`sudo security find-internet-password -gs hub.docker.com` to get you password,
because you did `docker login` at some point, even though docker is storing passwords in credentials helper nowadays :)

We can of course encrypt the password with some key, anyway i guess if you're attacker with access to infra this is just

[2019-03-23 17:23] nohaapav commented on #335
Basically all these systems like `1Password`, `Keychain` etc are just encrypted db full of credentials and if root/master password is going to leak you're in a pickle. :) Our premise here is that this ultimate root/master password is the access one to cluster.

[2019-03-24 09:54] atmosx commented on #135
I came here to report the same issue. This is a very old, known swarm bug but there is a bypass that works for me from [reported on moby's issue](https://github.com/moby/moby/issues/33183):

[code]

If smarmpit could implement this command as default and possibly offer a box or drop-down menu for log fetch, would be great!

[2019-03-24 10:01] nohaapav commented on #135
@atmosx Hi atmosx .. we're going to improve logs experience in this release so yep, it's going to happen ;)

[2019-03-24 10:10] atmosx opened #336 "When opening service that binds 'host' I get a black page."
**Description**

I'm using metricbeat with the following mounts:

[code]

And networks

[code]

On a swarm cluster. When I click on the `metricbeat` service page, I get a black page. In the page source code I see the following:

[code]

Comes from `main.js`.

**What happens:**

I get a blank service page.

**What should happen:**

I would like to see the a service page or an explanatory error mess

[2019-03-24 10:38] nohaapav commented on #336
@atmosx Could you past your stack so i can try by myself ?

[2019-03-24 12:01] nohaapav commented on #336
Works for me pretty well with following stack:

<img width="899" alt="Screen Shot 2019-03-24 at 1 00 20 PM" src="https://user-images.githubusercontent.com/4179104/54879037-dc221d80-4e34-11e9-9d6e-4aa6ed3eaf3b.png">

See:

<img width="1678" alt="Screen Shot 2019-03-24 at 12 59 59 PM" src="https://user-images.githubusercontent.com/4179104/54879040-e2b09500-4e34-11e9-8e75-06a7dff61189.png">

[2019-03-24 18:47] atmosx commented on #336
Weird. I'm using a python dockerAPI to launch services. My definition is exactly as the one you have above but here's what I see: https://www.dropbox.com/s/nq518mkz1g65cn8/metricbeast-swarmpit.mp4?dl=0

[2019-03-25 15:20] UnclePhil opened #338 "network not appearing during service creation/edition"
hello,

When i'm creating a new service through the interface, i cannot bind it to any network.
there is no part of the edition form related to network

* Configuration
Swarmpit 1.6

Server: Docker Engine - Community
 Engine:
  Version:          18.09.1
  API version:      1.39 (minimum version 1.12)
  Go version:       go1.10.6
  Git commit:       4c52b90
  Built:            Wed Jan  9 19:06:30 2

[2019-03-25 15:38] nohaapav commented on #338
Thanks for reporting Phil. Accidentally we removed this field during huge material refactoring. It's back now. Please fetch the latest release.

[2019-03-25 15:38] #338 closed

[2019-03-25 17:13] nohaapav commented on #336
Yes host network is the problem. Was able to reproduce this scenario finally. Could you paste your stack here ? I'm wondering about host network setup.

[2019-03-25 17:20] nohaapav commented on #336
Problems seems to be with fetching of host network:

When `http://0.0.0.0:3449/api/services/metricbeat_metricbeat/networks` is called invalid response is returned:

[code]

This is because we can't fetch given network from network list by id.

See:
<img width="444" alt="Screen Shot 2019-03-25 at 6 14 43 PM" src="https://user-images.githubusercontent.com/4179104/54940138-6c8e5a00-4f2a-11e9-8f02-2f2

[2019-03-26 08:43] atmosx commented on #336
Hello, the `host` network, uses the `host` driver and has `local` scope.

[2019-03-26 08:47] nohaapav commented on #336
Wondering why network target from service definition does not match the host network from network list. Strange is that if i inspect the resource with docker inspect {id} i can see host network but this one has swarm scope .. and it's not even listed ..

`[
    {
        "Name": "host",
        "Id": "vu8gf4cw2sfpdybmfg4ar53b1",
        "Created": "2017-09-17T12:23:38.709837442Z",
        "Scope":

[2019-03-26 12:25] steffen201706 commented on #135
docker service  logs is completly death - with or without any switch

`
~$ docker version
Client:
 Version:           18.09.3
 API version:       1.39
 Go version:        go1.10.8
 Git commit:        774a1f4
 Built:             Thu Feb 28 06:40:58 2019
 OS/Arch:           linux/amd64
 Experimental:      false

Server: Docker Engine - Community
 Engine:
  Version:          18.09.3
  API version:

[2019-03-26 14:51] sinacek commented on #296
I had probably problem on company firewall.

[2019-03-26 14:51] #296 closed

[2019-03-26 14:55] sinacek opened #339 "Button delete is out of the screen"
**What happens:**
For long name of volume is Delete button out of the screen

**What should happen:**
Shorten volume name or use z-index.
![Volumes __ swarmpit](https://user-images.githubusercontent.com/1140123/55007340-8d64b700-4fdf-11e9-87e3-2ab9347e6542.jpg)

[2019-03-26 15:39] nohaapav commented on #339
@sinacek You have probably some old version of swarmpit. This has been already fixed in recent version.

[2019-03-26 15:40] nohaapav commented on #339
<img width="1679" alt="Screen Shot 2019-03-26 at 4 40 10 PM" src="https://user-images.githubusercontent.com/4179104/55011195-dae42280-4fe5-11e9-9730-fc52b7689d17.png">

[2019-03-26 15:42] nohaapav commented on #135
@steffen201706 Well if `docker service logs` is dead you should raise the issue in docker project :)

[2019-03-26 15:59] sinacek commented on #339
I have downloaded today 1.6. Ok nice, I'm looking forward for stable 1.7

[2019-03-26 15:59] #339 closed

[2019-03-26 16:45] nohaapav commented on #336
And even if we fix this BLANK SCREEN behaviour host network will be listed only if on same node as swarmpit_app because it has local scope. We need to fetch local resources such networks/volumes via agent which is not currently supported.

[2019-03-31 10:15] robertofabrizi commented on #326
There is still something strange going on, now it loads all files, but the page says that it can't find what I was looking for...

![image](https://user-images.githubusercontent.com/6720929/55287840-a342f500-53ae-11e9-9378-03f9d675204b.png)

[2019-03-31 13:59] nohaapav commented on #326
@robertofabrizi Well PR is not merged yet as far as i can see

[2019-03-31 14:17] #335 closed

[2019-03-31 14:59] robertofabrizi commented on #326
@nohaapav I used the docker image feature-base-url tag that should

[2019-04-01 08:05] nohaapav commented on #326
@robertofabrizi Could you share visited url ? Interesting about the uri ..

[2019-04-01 10:57] robertofabrizi commented on #326
@nohaapav Ofc.
This is the docker compose relevant bit:

I visit this url: http://10.46.90.125:8383/swarmpit and I get the printscreens above

[2019-04-01 12:31] nohaapav commented on #326
@robertofabrizi And if you go e.g. services ? [http://10.46.90.125:8383/swarmpit/services](http://10.46.90.125:8383/swarmpit/services) does it work ?

There is actually no view on base path, we redirect user to stack view until proper dashboard is done. My point is maybe just initial redirect is broken ?

[2019-04-01 12:32] robertofabrizi commented on #326
@nohaapav Sadly no they show the exact same page as above.

[2019-04-01 17:10] #332 closed

[2019-04-02 16:02] nohaapav commented on #326
@rarous Check that please .. I have this feeling that prefixing frontend-path is not necessary to have
See https://github.com/swarmpit/swarmpit/commit/7def509c8e5d90ef27e5f9da775eb48dc1b4458e#diff-232834d2b9268736826a6a93fc0e5986R170

[2019-04-03 10:53] #331 closed

[2019-04-03 11:04] nohaapav opened #341 "Support for gitlab.com registry"
As gitlab.com officially restrict `_catalog` api to **admin** access only there is no way user can list repositories.

We have to list all the images for all projects of specific user, see

`https://gitlab.com/<user>/<project_name>/container_registry.json?format=json&private_token=`

That means we will have to list all the projects (repositories) first and then fetch images for each (and merge) ..

[2019-04-03 11:05] nohaapav commented on #296
https://github.com/swarmpit/swarmpit/issues/341

[2019-04-05 11:30] lumir-mrkva opened #342 "better compose file command parsing"
support for command defined by array

[2019-04-05 16:23] #259 closed

[2019-04-07 20:16] DannyBen commented on #303
On a similar note - I would like to have the log view in a light mode...

[2019-04-08 02:58] lumir-mrkva opened #343 "task cpu graph broken when usage is >100%"
either increase scale or divide by cores

[2019-04-09 02:51] lumir-mrkva opened #344 "when network is added to service, service is no longer accessible by it's stack alias"
reproduce:
- add swarmpit_app to external network
- swarmpit agent can no longer access app:8080, has to be reconfigured to swarmpit_app:8080

[2019-04-10 09:45] Dids commented on #260
Any updates on this? I'm seeing timeouts (#274) with more and more services, even when using json-file options that limit log files to 3x1MB.

[2019-04-10 13:11] nohaapav commented on #260
@Dids Hi, yes in this release we're going to improve log experience.

[2019-04-10 14:40] nohaapav commented on #341
Related gitlab issues:
https://gitlab.com/gitlab-org/gitlab-ce/issues/55187 - container_registry.json does not support Private-Tokens
https://gitlab.com/gitlab-org/gitlab-ce/issues/56924 - Container Registry API returns 404

[2019-04-10 15:59] nohaapav commented on #135
@atmosx Interesting. Thanks for pointing that out. We're tailing just last 2000 lines by default. See

[code]
I have tried to fetch log from one service with intensive logging by tailing last 2000. See:
[code]
Then i did the same with your approach for last 24 hours:
[code]
How the hell is this even possible .. 25000 lines in 2 sec vs 2000 with timeout ..

[2019-04-11 08:11] nohaapav commented on #308
Xterm looks like the easiest to use:

https://github.com/xtermjs/xterm.js

[2019-04-11 09:40] nohaapav commented on #341
Support in place. We might have to introduce some caching as if number of projects is up to 30/40 or even more it take a while to list all the images as same amount of `registry/repositories` api calls have to be made.

Works with official gitlab & self hosted gitlab in version 11.8 and bigger ..

[2019-04-11 09:40] #341 closed

[2019-04-12 13:14] nohaapav commented on #260
We are going to use agent to fetch logs in 1.7. That means only container API will be used.

Advantages:
- if service instance not hosted on manager -> manager not being busy
- load is distributed
- even in case of cluster inconsistencies we'll be still able to fetch
   container logs unless overlay network broken
- fetching same amount of logs via container api is way more faster, service api ten

[2019-04-12 13:17] nohaapav commented on #93
Moving to 1.8 .. Logs have bigger priority in 1.7

[2019-04-12 13:26] nohaapav commented on #303
Moving to 1.8. We have other priorities in 1.7

[2019-04-12 13:27] nohaapav commented on #288
Moving to 1.8 as we have other priorities in 1.7

[2019-04-13 10:48] mosonyi opened #346 "Healthcheck - composer"
**Description**
I am able to deploy a yml file into stack  and it is working fine.
[code]

When I would like to retrieve  the **current engine state**, it always returns as
version '3.3' and **_no healthcheck included_**.

**Expected operation:**
I expect to get back everything what I have added before (including the verision 3.4).

**Workaround:**
Retrive the last deployed version, but it could c

[2019-04-18 04:42] rarous opened #347 "Immutable service mode"
Introduce service label to disable service configuration via UI.

Use case for this is an automation via IaC when you want to have audit-able and versioned changes to your stacks.

[2019-04-20 12:41] Elecweb opened #348 "Container can't read secret which created by swarmpit"
**Steps to reproduce the issue:**
1. create secret by swarmpit
2. try to see content of secret file in container `/run/secrets/<name-secret>
3. content looks like it's encrypted or broken

**What happens:**
We use swarmpit for create secret but container which is attached secret can't read content of secret (it's looks like encrypted/broken) but when we create secret using docker cli `docker secre

[2019-04-21 06:34] Elecweb commented on #348
It's fixed already, you need to encode text to base64 before create secret in swarmpit. In my opinion, it's quite unclear that it need to be encoded to base64. It'd be more clear if there's some message clarifying content need to be encoded base64 or some validation

[2019-04-21 07:51] nohaapav commented on #348
Encoding should be done automatically by swarmpit on BE If engine respond with invalid data. See:
[code]

[2019-04-22 11:46] Elecweb commented on #348
I used config for swarmpit like this file [https://github.com/swarmpit/swarmpit/blob/master/docker-compose.yml](https://github.com/swarmpit/swarmpit/blob/master/docker-compose.yml)

maybe it has this error with latest version ?
I think the problem is swarmpit encoding data which docker can't decrypted so secret's content in container is weird

[2019-04-24 19:27] isbkch opened #349 "using build context in docker-compose file fails with no error"
**Description**

Using `build context` in the docker-compose file returns error "stack deployment failed" without giving details

**Steps to reproduce the issue:**
1. http:/xxx:888/stacks/create
2. paste following

[code]
If I remove build context and replace it with `image` it works fine.

Here is the content of my dockerfile

[code]

[2019-04-25 14:10] #349 closed

[2019-04-25 14:10] isbkch commented on #349
Closed because I realized this was more a bug related to Docker and not Swarmpit

[2019-05-02 03:36] fxdgear commented on #346
I’m running into this issue as well. Cause when I try to deploy a stack which has 2 services using the same container but the second overrides the command, I get unhealthy services when I deploy updated stacks, as a result my second service never stays up cause of a faulty health check.

This bug is more severe than I think initially reported.

[2019-05-02 15:14] isbkch commented on #236
Any update on this?

[2019-05-02 16:00] nohaapav commented on #236
@isbkch See the tag. This change is done in 1.7 .. You can use latest (edge) version to check it out ..

[2019-05-02 16:11] isbkch commented on #236
I missed that. Thank you, I'll give it a try

[2019-05-03 10:22] sguilly opened #352 "Generate docker compose file : use the long syntax (>= v3.2)"
Docker compose v3.2 introduce long syntax.

Should be great if /src/clj/swarmpit/docker/engine/mapper/compose.clj could implemented the long syntax.

**ports**

[code]

[code]

**configs**

[code]

[code]

**secrets**

[code]

[code]
**volumes**

[code]

[code]

[2019-05-04 15:31] fxdgear commented on #346
to add a bit more detail here what' i've been noticing.

I have a `web` container which runs gunicorn and the healthcheck that's defined in the container is `curl loclahosthost`.

I use the same container to run some async workers cause they use the same code, I just override the `cmd` and the `healthcheck`. because, the swarmpit stack composer can't pick up the healtcheck, it defaults back to the

[2019-05-05 21:06] fxdgear opened #353 "Overriding the user in a stack file in the Swarm ui is not reflected when getting stack info from cluster"
When you create a stack that overrides the `user` parameter:

[code]

When using the UI to inspect the service and generate the yaml file the over-ridden user is not in the list and a redeploy could result in failures cause the user param has changed.

[2019-05-05 21:15] fxdgear commented on #353
For a more specific example, as to why I want to override the user with `root`.

the docker image `docker.elastic.co/beats/filebeat` runs as the filebeat user. But I want to use filebeat's autodiscover mechanism to pull out my docker logs and put them in elasticsearch. In order to inspect the containers and add metadata to the logs at ingest time i need access to the docker socket as well. So now

[2019-05-06 22:09] dmitrym0 opened #354 "Cannot add dockerhub registry"
---------------------------------------------------
BUG REPORT
---------------------------------------------------

Attempting to add a Dockerhub registry.

**Steps to reproduce the issue:**
1. Install 1.7-00f00d7
2. Login into the interface
3. Click registry
4. Go through the registry process for dockerhub with known good credentials
5. Click "Finish"

**What happens:**

Error banner: "Dockerhub

[2019-05-07 07:39] nohaapav commented on #354
I've tried with 4 different accounts and works ok. Unless you provide more details there is nothing we can do about that.

[2019-05-07 13:58] dmitrym0 commented on #354
Are there logs somewhere?

[2019-05-07 14:44] nohaapav commented on #354
Not really .. it's pretty strange that there is no Reason message linked. Could you try the following:

[code]
Are you able to get the token ?

[2019-05-07 15:04] dmitrym0 commented on #354
I can get the token, yes. Very strange ;(

![2019-05-07 at 7 59 AM](https://user-images.githubusercontent.com/707020/57310473-bc6e4e00-709e-11e9-9e3a-ecbca4f05d1c.png)

![2019-05-07 at 8 02 AM](https://user-images.githubusercontent.com/707020/57310465-b8dac700-709e-11e9-883c-372344b9e63a.png)

[2019-05-08 08:32] nohaapav commented on #354
@dmitrym0 Btw do you have access to internet from cluster running Swarmpit as i can't see loaded avatar ..

[2019-05-08 14:49] dmitrym0 commented on #354
@nohaapav the terminal output is from the same machine where swarmpit is running.

No idea why avatar isn’t showing I noticed that too.

[2019-05-08 16:23] nohaapav commented on #354
@dmitrym0
1) Can you `Inspect -> Network` to see whether all swarmpit related queries on F5 are OK ?
2) Please check if you have same error with PWD: https://labs.play-with-docker.com/?stack=https://raw.githubusercontent.com/swarmpit/swarmpit/master/docker-compose.yml

[2019-05-10 16:22] dmitrym0 commented on #354
@nohaapav I couldn't get PWD working, but I spun up a local swarm instance. First thing I noticed is that the selection dialog for "Link image registry" now contains 5 items (Dockerhub, Registry v2, Amazon ECR etc). This is more than when I tested it last time. When I went to my remote instance, it now showed 5 items too! And the link worked. Where would 3 extra items come from?

[2019-05-10 18:45] nohaapav commented on #354
@dmitrym0 Well in current master you have 5 providers .. If you see only 2 that means you need to clear your browser cache .. Probably frontend is being cached in your case (old one is used) and that means FE is calling invalid old BE api which result in given error.

[2019-05-15 02:05] s8sg commented on #326
I have the same problem.
My Nginx is configured as
[code]
Docker compose is set as
[code]

Although when I go to `http://localhost:8000/platform/portal`, I get the below page
<img width="1274" alt="Screen Shot 2019-05-15 at 11 04 22 AM" src="https://user-images.githubusercontent.com/7374058/57743748-4ce10a00-7701-11e9-9cd0-8a99d1dc10c9.png">

[2019-05-15 03:44] rarous commented on #326
Sorry guys I'm a bit busy.

[2019-05-17 01:08] JustinBeaudry commented on #313
To fix swarmpit stack I had to run:

[code]

[2019-05-17 18:27] dmitrym0 commented on #354
That's gotta be it!

[2019-05-17 18:27] #354 closed

[2019-05-21 08:02] ClaudioBsh opened #355 "Stacks added missing after Reboot"
My running Swarmpit is working within Docker-Swarm together with Traefik and an own private Registry started with scriptfile on commandline.

After start i do login to Swarmpit.

I add a new stack using Swarmpit: "+New Stack"

The Service (whoami) is starting and works.

Then i stop the swarm (docker swarm leave --force), after it is stopped i start my runscript again and this brings swarmpit, tra

[2019-05-21 08:10] pbe-axelor opened #356 "service details with volume mount"
**Description**

When create a docker service with a volume mount, the service details page display nothing and result in a blank page

**Steps to reproduce the issue:**
1. Create a service with a volume mount :
[code]
2. Go to the swarmpit service details page : `localhost:888/services/helloworld`

**What happens:**
The service details page display nothing and result in a blank page
Error in cons

[2019-05-22 08:51] RemiBou commented on #356
I got this problem as well

[2019-05-22 19:21] nohaapav commented on #356
Looks like missing `Source` is causing the issue .. We're using source to generate link to volume
resource and as value is nil link happens to be invalid

[2019-05-23 07:52] RemiBou commented on #356
I can confirm that adding an explicit source path to a volume fixes the UI

[2019-05-23 14:48] RemiBou commented on #356
Fixed it by adding a named volume

[2019-05-23 15:45] pbe-axelor commented on #356
Yes, while inspecting the service, `Source` is missing.
Adding `source=testvolume` to the `--mount` flag fix the issue.

It seems that `source` can be omitted ([docker docs](https://docs.docker.com/storage/volumes/)) :

[2019-05-25 14:54] #135 closed

[2019-05-25 14:55] #260 closed

[2019-05-25 15:18] #278 closed

[2019-05-25 16:03] #346 closed

[2019-05-25 16:05] nohaapav commented on #353
Should be fixed by https://github.com/swarmpit/swarmpit/commit/926a2bda56f3ef301a0bcf10ad07770ee6a7f5ba